[2016-06-30 09:20] mexanick opened #6 "AMC13 manager configuration"
AMC13 Manager crashes when attempting to connect to unavailable amc13 (e.g. wrong amc13 connection file provided)

[2016-06-30 09:30] jotadram6 commented on #6
Can you please to retry at TIF with /afs/
cern.ch/work/j/jruizalv/public/GEM_DAQ/cmsgemos/setup/etc/addresstables/connections_ch.xml
? You should also take a look at the config file: /afs/
cern.ch/work/j/jruizalv/public/GEM_DAQ/cmsgemos/gemsupervisor/xml/gemsupervisor_tif.xml

On Thu, Jun 30, 2016 at 11:20 AM, Mykhailo Dalchenko <
notifications@github.com> wrote:

--
______________________________

[2016-06-30 09:38] mexanick commented on #6
Dear Jose,
I know that the code works when valid configuration is provided. But in my opinion it shouldn't crash when configuration points to unexisting amc13 board (i.e. when you run setup at TIF with config from 904). It should instead report smth like "board unavailable" and go to error state, but not crash.

[2016-06-30 11:55] jotadram6 commented on #6
Ok, I see now your point. I agree with you, I'll work on the code to
implement what you are asking for.

On Thu, Jun 30, 2016 at 11:38 AM, Mykhailo Dalchenko <
notifications@github.com> wrote:

--
_______________________________
José David Ruiz Álvarez
CMS Group - Universidad de los Andes
CERN - Office: 42 - R - 036
_______________________________

[2016-07-11 16:21] bdorney opened #10 "Issue on compile"
When following instructions given:

https://twiki.cern.ch/twiki/bin/view/CMS/GEMOnlineSoftwareDevelopment#Setting_up_the_gemdaq_online_sof

When executing:

`make clean && make all -j6`

Returns the following error to terminal.

[code]

[2016-07-11 23:47] jsturdy commented on #10
What was your git clone command?
What is BUILD_HOME in your development area?
I did a checkout of the central release-v2 branch and everything built fine on cosmicstandtif

[2016-07-12 06:26] bdorney commented on #10
Relevant output below starting from (***).  Perhaps the problem is with the last “../“ in the BUILD_HOME:

[dorney@cosmicstandtif]~/scratch0/CMS_GEM/cmsgemos% export BUILD_HOME=/afs/cern.ch/user/d/dorney/scratch0/CMS_GEM/cmsgemos/../

However twiki page reads:

export BUILD_HOME=<full path to checkout area>/cmsgemos/../ (bash/sh/zsh/variants)

(***) Full Output:

[dorney@cosmicstandtif]~/scratch0/

[2016-07-12 15:30] jsturdy commented on #10
Issue is likely due to compiler differences (Brian's using 4.8.4 and we have only been testing with SLC6 default 4.4.7)
Just shows the need to be cross-compiling with multiple GCC versions (a process which has been started but not finalized)

[2016-07-28 13:14] jsturdy opened #16 "Scan routine integration at TIF"
# Testing of scan routines at TIF
 - Using LEMO scintillator triggers
 - S-curve testing
 - Multiple chambers simultaneously (can work into another issue for a later release if necessary)

[2016-09-21 11:38] jsturdy opened #19 "Application crash on failed DB connection"
Currently the software crashes when it tries (and fails) to connect to the database.
This should not happen, rather it should raise an exception to be handled, and put the application into ERROR

[code]

[2016-09-21 13:31] jsturdy commented on #19
Seems that the exception isn't being handled, even though it *should* be caught, investigating

[2016-09-28 11:56] jsturdy opened #21 "Add output s-bit configuration to OH manager"
Need to be able to configure the output s-bit mode and source from the manager
Propose adding a new config struct replacing ```sbitSource``` as per:
[code]

[2016-09-29 09:38] jsturdy commented on #21
Implemented in  #22

[2016-09-29 09:38] #21 closed

[2016-10-04 23:49] mexanick opened #26 "AMC configuration"
- why OH manager sets the IE mask, while it is a property of AMC card?
- why we have bunch of constants defined in the GEMFSMApplication.h wihle they are subjected to change? I mean MAX_AMCS_PER_CRATE, MAX_OPTOHYBRIDS_PER_AMC and MAX_VFATS_PER_GEB
- Actually, the MAX_OPTOHYBRIDS_PER_AMC is set to 9 and this contradicts with what's written in gemsupervisor xml config, which makes impossible the pro

[2016-10-05 01:08] mexanick opened #27 "VFAT Mask configuration"
setVFATMask is not called by anyone except TBUtils. There should be a parameter in the main XML config and corresponding setter call

[2016-10-05 07:28] jsturdy commented on #27
What is the bug?  Currently the code checks which VFATs are connected and uses this to set parameters

[2016-10-05 08:04] jsturdy commented on #26
* [input enable mask setting](https://github.com/cms-gem-daq-project/cmsgemos/blob/release-v2-ctp7/gemhardware/src/common/optohybrid/OptoHybridManager.cc#L404)
  * This potentially temporary solution was added so as to not pollute the configuration of the managers with unnecessary information (same reason why every OH info doesn't contain the list of VFATs expected to be present)
  * If the config

[2016-10-05 18:58] mexanick commented on #26
the masking of VFATs seems to be never called (while the mask has been updated correctly). I added the call and it solved the problem
Considering the constants: I do not object having them in principle, but then two questions are:
* why they are in FSM and not in corresponding managers?
* what is the purpose of have a  "position" parameter for OH in the xml. It should be then computed in the code.

[2016-10-05 20:23] jsturdy commented on #26
* OK, in principle fine, only may want to have an ability to modify the mask read from hardware with an "ignore VFATs" list, which I think I have some placeholders for
* They're defined in the base class of GEMFSMApplication since all others inherit from it, and some of the managers need to know about more than one of the constants
* I would also prefer to get rid of the position, **but**, if send

[2016-10-07 15:58] jsturdy commented on #16
Integrated into PR #25
* still lacks s-curves but can follow shortly

[2016-10-07 15:58] #16 closed

[2016-10-10 01:08] jsturdy commented on #6
Has this been resolved?

[2016-10-12 20:40] mexanick commented on #27
The code doesn't mask unavailable VFATs which cause random noise and eventually leads to DAQ electronics overflowing trip.

[2016-10-13 13:13] jsturdy commented on #27
VFAT tracking mask is already being set, see [this line](https://github.com/cms-gem-daq-project/cmsgemos/blob/release-v2/gemhardware/src/common/optohybrid/OptoHybridManager.cc#L330), can you confirm that disconnected VFATs are not being masked off?

[2016-10-24 10:01] jsturdy opened #31 "Operational mode when using CCB standalone mezzanine"
In order to use the CCB standalone mezzanine board several (TIF operation) things on the AMC13 must **always** be configured:
- The AMC13 local TTC must be enabled
- The AMC13 local local trigger mode must be enabled
  - It does not need to be generating/sending triggers

Currently, during the scans and possibly in other situations as well, the AMC13Manager is taking the AMC13 out of local trigger

[2016-10-25 22:42] jsturdy opened #32 "Bug in GEMSupervisor"
It appears that there is a bug in the GEMSupervisor if the config file includes the GEMSupervisor application before some of the managed applications.
This may just need to be an operational paradigm, where the supervisor is listed after other applications and that's it.
However, all attempts to make the code more robust should be taken.
This may be a problem with the info space toolbox, or only i

[2016-10-26 13:20] jsturdy opened #33 "Bug in readout task"
Some uncaught exception is occasionally happening that should be fixed so the software doesn't crash.
I haven't been able to track down where exactly it's happening, or what specifically is causing it, but something while communicating with the AMC13 during the readout is timing out

[code]

[2016-11-08 00:45] jsturdy commented on #31
Fixed in #36

[2016-11-08 00:45] #31 closed

[2016-11-08 00:47] jsturdy commented on #6
Changing milestone, as this will not hold up v0.2.1

[2016-11-15 08:23] jsturdy commented on #27
Closing, as testing indicates this is not happening in the latest branch.
Reopen if you find this happening.

[2016-11-15 08:23] #27 closed

[2016-11-15 08:25] jsturdy commented on #10
Closing as currently supported build instructions don't guarantee compatibility with non SLC6 standard gcc/clang
Hope to add support in the future

[2016-11-16 09:08] jsturdy opened #45 "Incorrect update of scan parameters"
There is a bug in how the scan parameters are updated.  Currently the parameter will update for **each** connected device, i.e., if there are two AMCs and four OHs connected all will start out with scanMin.
Then at the first transition, the first AMC will update to scanMin + stepSize and will update currentParameter to this value.  The second AMC will then update to currentParameter + stepSize, an

[2016-11-16 09:44] jsturdy commented on #45
Fixed in #46, #47, #48, #49

[2016-11-16 09:44] #45 closed

[2016-11-16 10:01] jsturdy opened #50 "Broadcast transaction improvement"
Make the broadcast transactions more robust by taking advantage of the OH firmware updates which return the status of the transaction, also checking the returned data for validity, and potentially retrying.

[2016-11-25 12:21] jsturdy opened #54 "Group HW updates into block transactions"
Sending more requests per ```dispatch``` call will probably improve the overall performance of the software, passing off the message queuing to the control_hub.
Likely candidate for these are when updating for the web tables.
May require an update to the ```GEMHwDevice``` class, adding an ```std::map<std::string, uint32_t>``` signature to the ```writeRegs``` or ```readRegs``` functions (currently

[2016-11-25 15:02] jsturdy commented on #10
CC7 build machine ```gem904daq02``` and newly released ```cactus``` libraries for CC7 make it possible to start testing builds in CC7 (default ```gcc``` is 4.8.5)

[2016-11-27 15:12] bdorney opened #55 "Feature Request: Hex 2 Decimal Conversion on Selected Registers"
Would it be possible to change on GLIBManager -> Card Page -> DAQ the following registers:

->EVT_SENT
->L1AID
->RUN_PARAMS

To appear in decimal notation rather than Hex?

[2016-11-28 23:38] jsturdy commented on #55
Addressed in #56
RUN_PARAMS will not be included as it won't make sense (it's a composite 32 bit number with groups of 8 bits meaning different things)

[2016-11-30 15:21] #55 closed

[2016-12-03 02:54] bdorney opened #71 "Feature Request: EVT_SENT Register Reset on "Start":"
If issuing "Start" the EVT_SENT register on the GLIBManager -> Card Page -> DAQ subtab the counter corresponding to this register does not reset while the L1AID register does.  This could cause potential confusion.

Request that on "Start" this counter is reset along with the L1AID register.  See image attached.
![evt_sent_counter_not_refreshed](https://cloud.githubusercontent.com/assets/6432141/2

[2016-12-03 09:42] jsturdy commented on #71
I believe that this is a firmware bug and the generic AMC firmware has this behaviour implemented correctly, though I'll have to check with @evka85

[2016-12-05 14:44] jsturdy commented on #71
Also to be reset on start:
* VFAT CRC counters
* OH T1 counters
* AMC T1 counters

[2016-12-12 04:35] bdorney opened #83 "Bug Report: icomp value ignored"
Noticed that the value passed to icomp in the CommonVFATSettings is not used and instead a value of 90 is applied to all chips.

Steps to repeat the problem:

->launch xdaq
->Initialize
->Configure
->Check VFAT Dashboard using the WebDAQ

You'll see icomp is 90.

[2016-12-15 10:13] bdorney opened #84 "Bug Report: GLIB FIFO Full @ Start"
We performed an ultra-scan with the webDAQ to look at the thresholds before starting a run with xdaq.

We noticed that this fills the GLIB FIFO.

When starting the run with xdaq the FIFO was full and then no further triggers were accepted.

This seems like a rare case but maybe the GLIB FIFO should be "flushed" when pressing "start."

[2016-12-15 11:10] jsturdy commented on #84
The GLIB FIFO reported on the web DAQ is unrelated to the blocked triggers.
However, what does cause problems is if the GLIB was receiving triggers before it was in "run mode", which sounds like may have happened somehow.

[2016-12-20 16:43] jsturdy opened #85 "XGI stream manipulation"
Add tools to manipulate the xgi stream object to be able to add scripts/css to the HTML ```head``` tag rather than in the ```body``` tag for pages inheriting from the framework ```xgi::framework::bind``` and ```xgi::framework::deferredbind```
Requires some careful though and ability to know when the stream buffer has been flushed, but if we can set it up properly, things will be nicer

[2016-12-20 17:00] jsturdy opened #86 "Different update intervals for different hardware settings"
Need to have different timers (or none at all) for different hardware monitoring updates

[2017-02-09 11:24] jsturdy opened #89 "Updates for uhal 2.5"
In the 2.5 update to the uhal library, under the hood changes make "write-only" bitmasked registers invalid.
Need to update address tables where previously this was used to be "rw" rather than "w"

[2017-03-11 01:33] jsturdy opened #92 "Migrate away from separate python functions"
Need to migrate away from using the special libraries to provide functionality to the python tools.
Rather, set up ```gempython``` as directory with the test scripts and special python modules, but provide ```boost``` python bindings from the HW device classes directly
Examples exist that we are familiar with (cactus uhal, amc13, etc.)

[2017-04-26 11:26] jsturdy opened #102 "Handle printing of exceptions better in python scripts"
Some exceptions result in a failure to print causing the python tool to crash.  This behaviour needs to be fixed
 * ```An exception occurred cannot concatenate 'str' and 'exception' objects```

[2017-06-03 22:41] jsturdy opened #106 "const correctness migrations"
The ```xdaq``` core software changed significantly their utilization of ```const``` in migrating from ```xdaq13``` to ```xdaq14```
* For ```cc7```/```slc6``` compatibility, attempt a rebuild utilizing appropriate ```const_cast``` and well motivated ```#ifdef x86_64_centos7```

[2017-06-03 22:42] jsturdy opened #107 "Appropriate usage of const"
* Past #106, re-write to ensure that ```const``` correctness is appropriately applied in our code

[2017-06-16 15:09] jsturdy opened #113 "read/write register list using the multiple transactions per dispatch"
Currently seeing an error of the following sort when sending multiple (some number, not all) ```uhal``` transactions per ```dispatch``` call.
[code]

* Need to understand where the error is coming from (```CTP7``` or ```uhal```)
* Find if there is an undocumented behaviour of this functionality where only a specific number of transactions can be bundled, and this has to be done manually, rather th

[2017-06-16 15:16] mexanick commented on #113
Am I right that you observe this error only for certain multiple uhal transactions per dispatch?
If so, can you give two examples: successful dispatch and erroneous one?
Also couple of other questions:
do you observe errors always for the same calls, or they are floating?
how many transactions are bundled when you have error?

[2017-06-16 15:26] jsturdy commented on #113
I only recently started investigating this and was able to get rid of the failures if I played around with how many transactions would work.
I've tried to start investigating further (replacing the OH broadcast with a multiple dispatch, etc), so I haven't  got the full picture of when/how this occurs yet, but I'm starting to expand my test suite :smile:

[2017-06-16 17:25] bdorney opened #115 "Feature Request: Latency Scan Step Size From Command Line"
Looking at:

[GE11COSMICS@cosmicstandtif 20170616]$ /home/GE11COSMICS/Software/DAQ/vfatqc-python-scripts/ultraLatency.py -h
Usage: ultraLatency.py [options]

Options:
  -h, --help            show this help message and exit
  -s slot, --slot=slot  slot in uTCA crate
  -g gtx, --gtx=gtx     GTX on the AMC
  --shelf=shelf         uTCA shelf to access
  -d, --debug           print extra debugging info

[2017-06-17 17:43] jsturdy opened #116 "Go to error when output file can not be created or written"
Realized that there doesn't seem to be any upwards notification from the readout application to the supervisor (or even into the FSM of the readout application) if the desired output file can't be written.
This should cause the readout application's FSM to go to error

[2017-06-17 17:44] jsturdy opened #117 "Force error on failed SOAP transitions"
Currently SOAP commands sent to TCDS applications which can't reach their endpoint result in an application crash.
This needs to be changed to an error transition

[2017-06-17 17:50] jsturdy commented on #115
Moved to cms-gem-daq-project/vfatqc-python-scripts#88

[2017-06-17 17:50] #115 closed

[2017-06-20 12:17] bdorney opened #118 "Exception in amc_info_uhal.py if --short option not used at cmd line"
When calling:

amc_info_uhal.py -s2 -g0 --shelf=3 --short 2>&1 | tee amc_info.txt

Expected behavior is obtained (see [amc_info.txt](https://github.com/cms-gem-daq-project/cmsgemos/files/1088096/amc_info.txt))

When calling:

amc_info_uhal.py -s2 -g0 --shelf=3 2>&1 | tee amc_info_withException.txt

e.g. missing the --short argument an exception is thrown as shown in [amc_info_withException.txt](ht

[2017-06-20 13:44] bdorney commented on #118
Indeed, however @jsturdy requested an issue so it could be tracked.

[2017-06-20 17:09] bdorney opened #119 "Exception in amc_info_uhal.py if -r option used at cmd line"
Based on feedback from DAQ expert tried to issue a reset command to the CTP7 with command line option -r.

Generated the exception shown: [amc_info_resetExcept.txt](https://github.com/cms-gem-daq-project/cmsgemos/files/1089047/amc_info_resetExcept.txt)

[2017-06-20 20:25] jsturdy commented on #118
Changes in the generated uhal address table removed a register block that was previously used.
Have to understand whether to modify [evka85/GEM_AMC](https://github.com/evka85/GEM_AMC/blob/master/scripts/generate_registers.py) to update how the address table is generated, or whether modification of the code here is the better long-term solution

[2017-06-20 20:27] jsturdy commented on #119
Needs an update to the reset function call, as it's using the old address table

[2017-06-21 13:33] jsturdy commented on #117
More info:
[code]
For some reason (yet to be fully understood) the throw is not being caught and is instead triggering a ```toolbox::Task::Task::unexpected_taskhandler``` which subsequently calls ```abort```

[2017-06-21 14:59] #117 closed

[2017-06-29 09:08] mexanick opened #123 "IPBus error logging needs improvement"
IPBus error logging doesn't really help in the problem identification since the information printed to the log looks like:
[7f3063635700] ERROR - Returned Header from URI "ipbustcp-2.0://192.168.1.42:60002", 0x2B040104 ( transaction id = 0x00000B04, transaction type = 0x00, word count = 1 ) had response field = 0x04 indicating an error (1 bytes into IPbus reply payload)^[[0m
^[[0;31m28-06-17 16:42

[2017-07-05 12:41] lmoureaux opened #125 "Cannot configure the detector"
confChamber.py crashes with the following error message:
[code]

Command line used:
[code]

Got this crash on branches `generic-amc-release-v3` and `generic-amc-release-v3-qc8`.

See also http://cmsonline.cern.ch/cms-elog/995069

[2017-07-05 13:23] jsturdy commented on #125
What should be written to the as "default" settings should be decided and then both function call and parameter list can be brought into agreement
* Bias settings are currently good candidates, as we write the same value to each chip
* `VCal` if it has an effect on the operation if it has a non-zero setting should be set to 0 (could be otherwise too, just costs an extra transaction)
* Some of the

[2017-07-10 11:10] mexanick opened #127 "Latency scan monitoring"
## Brief summary of issue
Latency scan doesn't provide any monitoring capabilities to see how the scan is progressing

### Types of issue

- [ ] Feature request: add certain monitoring printouts to the log file

## Context (for feature requests)

I'm going to add following information:
- OH CRC counters for each VFAT at the beginning of the scan and after it finishes- this might affect the number

[2017-07-10 12:17] cbravo135 commented on #127
Does a CRC error counter for each VFAT already exist or is it just one which is a sum over all VFATs?

[2017-07-10 12:20] cbravo135 commented on #127
I also think we should add a printout of the OH CRC counters to optohybrid_info_uhal.py in cmsgemos.

[2017-07-10 12:21] mexanick commented on #127
These are per-VFAT counters. Also they could be reset individually at the beginning of the run

[2017-07-10 12:25] cbravo135 commented on #127
Yes, lets reset them at the beginning of the scan and read them into a printout at the end.

[2017-07-10 18:20] bdorney opened #128 "VFAT Index Shifted By 1?"
## Brief summary of issue
Issue summarized here: http://cmsonline.cern.ch/cms-elog/996153
Problem appears on cosmicstandtif

Symptoms:
->Observed that anaUltraScurve.py only produced 1 of 3 expected output; additionally output data looks unusable
->Output from vfat_info_uhal.py reports data from VFATs that don't exist and reports no data from expected VFATs

### Types of issue

- [X] Bug report (r

[2017-07-11 04:19] jsturdy commented on #127
Regarding the question

it would only make sense for a scan that is using the tracking data, as that's the only case where it would directly tell us anything
* Now that I understand your request better, the next question is how often do you really want this progress information to be logged?
  * Do you really want it to be fixed to be per/1000? I'd say that as a start it could be once per N trigge

[2017-07-11 06:49] bdorney commented on #128
After some prompt investigation by @jsturdy it was determined the route of the problem was due to a bad clock.  For full details and recovery see:

http://cmsonline.cern.ch/cms-elog/996284

Closing this issue.

[2017-07-11 06:49] #128 closed

[2017-07-11 08:14] mexanick commented on #127
@jsturdy , thanks for the comments! While I certainly agree with your proposal to put things in the FW, it make take some time. I propose we add it now in SW and later migrate to FW. I'll make a pilot pull request later today so we can review

[2017-07-12 11:27] mexanick commented on #127
OK guys, I've tested the improvements at QC8, added couple of debug commits - it works now. Please review again. The output is like I expect, however there's one open question remaining: I followed @jsturdy suggestion to have updates every n_triggers, but for example one of the latest latency scan setups at QC8 had 5000 triggers per point, so the update will be really rare... I can change the code

[2017-07-12 11:44] cbravo135 commented on #127
I also just learned from Thomas that there is a CRC Good counter in addition to the CRC Bad counter. We should also be looking at this counter and make sure CRC Good + CRC Bad makes sense.

[2017-07-12 11:51] mexanick commented on #127
We can do this eventually, but let's wait Jared's feedback

[2017-07-12 11:53] cbravo135 commented on #127
I think it makes sense for this to be included in this PR.

[2017-07-12 13:53] bdorney commented on #127
@mexanick, regarding updates every n_triggers.  Can we make this a command line argument with a default value that is suitable for P5?  Then we can change it for the cosmic stand whenever needed.

 Then Additional comment, based on terminal output shown: http://cmsonline.cern.ch/cms-elog/996605

I would suggest to reset the AMC and OH0 L1A counters whenever the scan is started so that they match w

[2017-07-12 15:04] mexanick commented on #127
Cross-posting from mattermost for the records:

* AMC13 triggers are resetted at the beginning of the scan, but this is valid ONLY for local amc13 triggering or LEMO, when taking data with TTC stream this won't happen
* The L1A counts will be identical only if the trigger rate is low because there's some time interval between readouts
    * 100kHz LHC triggers will result in 10uS time interval bet

[2017-07-18 07:44] bdorney opened #130 "Feature Request: paths.sh checks status of uhal links"
## Brief summary of issue
When performing a SW update via git the uhal links in:

`$BUILD_HOME/cmsgemos/setup/etc/addresstables`

Are broken and a call of:

`$BUILD_HOME/cmsgemos/setup/etc/addresstables/linkuhaltables.sh`

Is required to restore the links.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## E

[2017-07-19 10:03] nvanegas opened #131 "xdaq data taking for the cosmicstand fails"
## Brief summary of issue

@jsturdy  and
@bdorney

running  an xdaq on the cosmic stand we ran into different problems. The elog is is

[http://cmsonline.cern.ch/cms-elog/998313](http://cmsonline.cern.ch/cms-elog/998313)

with three different logfiles, one for every time the scan was launched. They are

/home/GE11COSMICS/Software/DAQ/cmsgemos/xdaq_log_RunType_20170719.txt
/home/GE11COSMICS/Softwar

[2017-07-22 19:07] jsturdy commented on #130
* Can agree to an update that will check and report a message to the user, telling the user to set up the links themselves
* Will be unnecessary soon for production systems, which will have all necessary things set up by the rpm, removing dependence on:
  * setting links
  * sourcing env (well, it will depend on how the system is set up)
  * setting up `XDAQ_DOCUMENT_ROOT` differently

[2017-07-25 07:57] bdorney commented on #131
Looks like this particular issue was due to not recompiling the code after an update which lead to the xml not being understood.

This issue can be closed.

[2017-07-25 08:09] #125 closed

[2017-07-25 08:13] #131 closed

[2017-07-25 12:23] mexanick opened #132 "Local DB update problem"
## Python logging  interface has been updated, however this update didn't propagate to all (sub)packages. Also it's logger usage is different in different python scripts.
Also wrong python version is used during compilation (system-wide python 2.6 instead of python 2.7)

### Types of issue

- [ x ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds func

[2017-07-25 13:13] jsturdy commented on #132
Probably the change to make the software build for both `slc6` and `cc7` is responsible for a `python` version mismatch

[2017-07-25 13:20] mexanick commented on #132
can you provide a link to the corresponding commit?

[2017-07-25 14:39] jsturdy commented on #132
Actually, can you post the lines that you see as wrong (and associate them with each problem, or better yet, create a separate issue for each of these bugs)?

[2017-07-25 14:55] jsturdy commented on #132
This [e3ebf87](https://github.com/cms-gem-daq-project/cmsgemos/commit/e3ebf87b8c58af63a7b5cb1d9675769423b50bda) is probably the one that had the most significant impact on the `python` version used

[2017-07-25 15:01] mexanick commented on #132
100%. So now my question is: how we want to solve this problem? See my comment above for proposed solutions

[2017-07-25 15:07] jsturdy commented on #132
Can you remove all the issues not related to the `python` version and put them in a separate issue?
These are completely unrelated and should be treated as such

[2017-07-25 15:09] #132 closed

[2017-07-25 15:14] mexanick opened #133 "Wrong python version used while compiling on SLC6"
## Brief summary of issue

after commit e3ebf87b8c58af63a7b5cb1d9675769423b50bda
the compiler picks the system python in all cases, while it should take locally installed python2.7 for SLC6.X OS
### Types of issue

- [x ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

On SLC6 should pick up non-system wide pytho

[2017-07-25 15:16] mexanick commented on #132
closed this issue and opened a new one.

[2017-07-25 15:18] jsturdy commented on #133
Migrated from #132 for solving the handling of the `python` version gracefully

[2017-07-25 15:37] mexanick commented on #133
actually, I have more graceful and simple solution:
change lines like

`PYTHON_VERSION ?= $(shell python -c "import distutils.sysconfig;print distutils.sysconfig.get_python_version()")`

to

`PYTHON_VERSION ?= $(shell python2.7 -c "import distutils.sysconfig;print distutils.sysconfig.get_python_version()")`

I checked, it works both in SLC6.X and CC7

[2017-07-25 16:34] jsturdy commented on #133
Just have to make sure that the spec file makes sure that some `python2.7` version is installed

[2017-07-25 16:37] mexanick opened #135 "HW configuration for local DB update"
## Brief summary of issue

Certain parameters like shelf number aren't passed to `gem::utils::db::GEMDatabaseUtils::configure`

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x ] Feature request (request for change which adds functionality)

## Context (for feature requests)

Currently certain parameters as shelf used as default values. We can simply pass the needed parame

[2017-07-26 11:36] mexanick commented on #135
@jsturdy , could you please point me to an example, how can I retrieve some cfg parameter from the initial XDAQ xml in GEMSupervisor.cc? I tried to look in the code, but it is still not very clear to me.

[2017-07-26 12:35] jsturdy commented on #135
Assuming you're interested in the `shelf` parameter (which is a parameter of the `AMC13Manager`, `GLIBManager` and `OptoHybridManager`, it's not directly available in the `GEMSupervisor`.
Probably the best way to get it would be to grab the `infoSpace` object for one of those applications (most straightforward for `AMC13Manager`) and pull the parameter `crateID` out that way.
For the `AMC13Manager

[2017-08-04 13:27] mexanick opened #136 "TTS_OVERRIDE register is set to 0x8 by GLIBManager"
## Brief summary of issue

TTS_OVERRIDE should be 0. It was required to override it before, but not anymore. We need to fix it in XDAQ configuration
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

[2017-08-04 13:30] mexanick opened #137 "gempython logging"
## Brief summary of issue

I have two loggers in the python code which queries the HW and updates the DB. A local logger for my amcmanager is blocking and disabling the logger from query.py. Do you know how this can be resolved?

[2017-08-04 15:16] jsturdy commented on #136
Under what circumstances would this value need to be non-zero?  I.e., do we need a configuration parameter to pass to the manager?

[2017-08-04 15:17] jsturdy commented on #137
Need details... a few line numbers will probably suffice

[2017-08-09 09:29] mexanick commented on #137
in query.py:
https://github.com/cms-gem-daq-project/cmsgemos/blob/07d68dc291aac5f51f9e5d12fb9e3bd38c16cac7/gempython/utils/query.py#L10-L14
then in gemamcmanager.py
https://github.com/cms-gem-daq-project/cmsgemos/blob/07d68dc291aac5f51f9e5d12fb9e3bd38c16cac7/gempython/tools/ldqm_db/amcmanager.py#L7-L8

This was changed in my pull request which is still not merged... But the main thing is: query.py

[2017-08-09 10:09] jsturdy commented on #137
Can you check in `gemlogging_config.cfg` and add the logger object definitions (for `query.py` and `amcmanager.py`), but somehow the inheritance of the loggers is not being handled properly

[2017-08-09 12:47] jsturdy commented on #137
Actually, looks like it's a bug in the `gemlogger.py`, where
`logging.config.fileConfig(logcfg)` should be `logging.config.fileConfig(logcfg,disable_existing_loggers=False)`
Try this and see if things are looking good

I tested this on a local MWE and it allows all loggers to print messages, while the previous did not.
Configuration of the logger in the config file is not necessary, unless the def

[2017-08-09 13:04] mexanick commented on #137
looks like it works! thanks!

[2017-08-09 14:21] jsturdy commented on #137
Well, let's not close this until the PR that fixes it actually gets merged...

[2017-08-14 07:57] jsturdy opened #139 "Integration with DB updates"
## Brief summary of issue

Linked to cms-gem-daq-project/ldqm-browser#13

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

We should use the configuration tags and pull the hardware configuration from the DB rather then query the hardware each time. A new utility taking care about new con

[2017-08-15 12:25] jsturdy opened #140 "Add RCMS state reporting"
## Brief summary of issue
Need to add a few parameters to applications that will report their state to RCMS

### Types of issue

- [x] Feature request (request for change which adds functionality)

## Expected Behavior
If needed, applications will provide an infospace item that RCMS can query to obtain the application FSM state

## Context (for feature requests)
RCMS requests `ReportStateToRCMS` t

[2017-08-18 12:23] mexanick commented on #137
This issue was addressed in PR https://github.com/cms-gem-daq-project/cmsgemos/pull/134

[2017-08-18 12:23] #137 closed

[2017-09-12 12:19] jsturdy opened #142 "Composite state handling"
## Brief summary of issue
The `GEMSupervisor has its own FSM (as it is a `GEMFSMApplication` but it needs to calculate its own state from the composite state of the supervised applications.
This is mostly implemented in the `GEMGlobalState` class, but in certain instances the composite state is not correct.
Additionally, we need to ensure that the state change handling is done in a robust way, suc

[2017-09-12 16:36] jsturdy opened #143 "Invalid state requests"
## Brief summary of issue
Invalid state change requests should be considered:
* We can receive a truly invalid request, i.e., `Start` from `Initial`
* We can receive a request while in a transitional state, i.e., `Start` from `Configuring`

## Expected Behavior
* We can either ignore invalid requests or go to error, with an appropriate recovery mechanism, ignoring is probably better, because it is

[2017-09-13 16:10] jsturdy opened #144 "Problem with ParameterQuery callback in GEMSupervisor"
## Brief summary of issue
The empty parameters box seems to be due to a failing callback to `ParameterQuery`.
This is also causing failures on the RCMS side, which executes a `ParameterQuery` as part of the attempt to get/send parameters

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavior
* Parameter table will be properly populated
* RCMS will send the param

[2017-09-13 17:38] jsturdy commented on #144
Bug is due to the way that managed applications states are retrieved by the supervisor.
* The infospace name was invalid based on the XML URN
* Quick fix is possible
* Have to rethink a few aspects of this information in the long run

[2017-09-14 07:14] bdorney opened #145 "Feature Request: Hex to Decimal Conversion in vfat_info_uhal.py"
## Brief summary of issue

For registers:
- Latency
- IPreampIn
- IPreampFeed
- IPreampOut
- IShaper
- IShaperFeed
- IComp
- VCal
- VThreshold1
- VThreshold2
- CalPhase

Provide a command line flag `--showDec` such that these registers are printed in decimal format when calling `vfat_info_uhal.py --shelf=X -sY -gZ`.

This would also need said flag to be added to `displayChipInfo()` of `vfat_user_f

[2017-09-14 08:16] jsturdy opened #146 "How to handle masked broadcast read transaction results"
## Brief summary of issue
If a user performs a `broadcastRead` using a `mask`, the result object contains *only* entries corresponding to the mask, in increasing order, followed by `0`'s filling out the 24 entries

### Types of issue
- [x] Curiosity
- [x] Feature discussion (request comments for change in functionality)

## Current Behavior
[code]

## Possible Solution
* Require the user who passe

[2017-09-14 08:35] bdorney commented on #146
Right now the only python scan applications which make use of this are:

[code]

In `qcutilities.py it is called by `readBackCheck()` which does *not* take a `mask` argument and as it can be seen the mask is set to `0x0`.

I think the first two bullet points are non-intuitive to the user/developer and would suggest not to use them as this could make bugs/mistakes harder to detect down the road.

I

[2017-09-20 15:27] bdorney opened #149 "Bug Report: Infinite Loop in getUltraScanResults(...)"
## Brief summary of issue

When taking threshold scans with `vfatqc-python-scripts/ultraThreshold.py` it looks like an inifinite loop in `getUltraScanResults(...)` occurs at [L707](https://github.com/cms-gem-daq-project/cmsgemos/blob/ab771dd9cda1e946cdc120e0a99096f312217027/gempython/tools/optohybrid_user_functions_uhal.py#L707).

[code]

This seems to always evaluate to greater than 0.  Observed

[2017-09-20 16:09] jsturdy commented on #102
To add to this, for some failures in communication, it will be nice to catch some exception and gracefully exit, rather than resulting in ending the function call completely
* partial results from scan modules for example

[2017-09-20 17:14] jsturdy commented on #149
Seems possibly related to not setting the trigger source in `ultraThreshold`, though to be confirmed
As a result, PR #150 presents a new way to get partial results throughout the scan, though it is not clear if it is useful/relevant based on the fact that a scan stopped midway through will not return the partial results

[2017-09-21 08:48] jsturdy opened #151 "Clean up logging implementation"
## Brief summary of issue
There are several places where the logging can be improved or streamlined, e.g., `GEMSOAPToolBox`
* Create a wrapper class for the logging that has a few more functionalities than the simple macros we've already defined
* Clean up unnecessary logging
* Prioritize the messages properly

### Types of issue
- [x] Maintenance

[2017-09-21 08:50] jsturdy opened #152 "Cleaner handling of RCMS control"
## Brief summary of issue
Would be good to be able to check in the `GEMSupervisor` whether the supervisor is being controlled by an `rcms` FM or not
A placeholder for where this should happen has been added, but the implementation needs to be fleshed out.
### Types of issue
- [ ] Maintenance

## Expected Behavior
* If `GEMSupervisor` is controlled by `rcms` certain behaviours can be disabled if de

[2017-09-21 08:52] jsturdy opened #153 "Update naming of some classes"
## Brief summary of issue
`GLIBManager` is currently a misnomer and should be migrated to `AMCManager` from which a `CTP7Manager` or `GLIBManager` could inherit

### Types of issue
- [x] Maintenance
- [x] Breaking change

[2017-09-26 16:32] #145 closed

[2017-09-26 16:34] jsturdy commented on #149
Closing as invalid

[2017-09-26 16:34] #149 closed

[2017-10-03 07:10] jsturdy opened #154 "Ensure software puts hardware into proper state at each transition"
## Brief summary of issue
Need to make sure that at each FSM transition, the hardware is in the expected state
* Can be ensured by software **or** firmware, but needs to be done

### Types of issue
- [x] Compatibility request (request for change which ensures compatibility)

## Expected Behavior
Some notes from the `TCDS`/`DAQ` [operation pages](https://twiki.cern.ch/twiki/bin/view/CMS/DAQ-subdet-

[2017-10-18 09:18] mexanick opened #159 "UML diagram for xHAL/RPC integration"
## Brief summary of issue

Schematic UML of the future xHAL/RPC integration design
Certain methods are added for illustration purposes and might differ from actual implementation, however the interaction and dependencies are correct (although are of course subject to discussion)
![gemhwuml](https://user-images.githubusercontent.com/7428758/31710518-939211d6-b3f5-11e7-976e-a1b8e04f6e36.png)

### Ty

[2017-10-18 10:43] jsturdy commented on #159
OK, good, this diagram helps visualize what I see as the main issue I've been trying to drive home, namely we're getting circular
If the `xHAL` blob and `hwDevice` blob weren't separate, then the semantics would be clear, and would align with how I thought our discussion mostly resolved to, modulo some tweaks due to interoperability
* We have several 'hal' (hardware access library) class defining

[2017-10-18 10:50] mexanick commented on #159
@jsturdy I remember our discussion (although one of the points to have this diagram is to "store" it and share with others). I was thinking about inclusion of the xHAL modules under the gemhardware, but after some thoughts I still find it as a complication and  a sort of _not really neccessary_ thing. But I agree with you, let's try some simple implementation. I'll give an update as soon as I'll p

[2017-10-18 10:52] mexanick commented on #159
Given said the above, the inclusion of the xHAL stuff into the gemhardware should not be difficult pending resolution of certain CTP7-related things like proper accounting for the gemhardware dependencies, because the xHAL package doesn't bring any new dependencies and is a standalone package at the moment.

[2017-10-18 12:37] mexanick opened #160 "Update to have a local DB used with run number provided externally"
This call should be executed with (optional?) run number parameter, provided by central services
https://github.com/cms-gem-daq-project/cmsgemos/blob/9e731bb89ff9b7308b05380a803a1bf166642feb/gemsupervisor/src/common/GEMSupervisor.cc#L1311

This block is called right after configure_db is called and takes the run number from the local DB.
https://github.com/cms-gem-daq-project/cmsgemos/blob/9e731bb

[2017-10-18 14:49] bdorney commented on #159
With this diagram in mind it seems like what I attempted to put together:

https://github.com/cms-gem-daq-project/cmsgemos/pull/158
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/137

Is not the functionality that is requested.  I can try to flesh out the above PR's and perform the necessary testing with v2b electronics.  However based on an offline discussion with @jsturdy I'm

[2017-11-04 14:29] bdorney opened #161 "Bug Report: amc_info_uhal.py does not show correct link number when reporting SCA info"
## Brief summary of issue

Calling:

[code]

Reports the same link number for all optohybrids:

[code]

However if asking for `kw SCA.STATUS` in `reg_interface.py` the link number is correctly assigned.  See:

 http://cmsonline.cern.ch/cms-elog/1019822

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expec

[2017-11-20 22:06] jsturdy opened #164 "Update code to be compatible with v1.11.X (X>6) AMC firmware"
## Brief summary of issue
Some address table updates were made and included in v1.11.7

### Types of issue
- [x] Compatibility/aintenance (report compatibility issue with the code)

## Expected Behavior
Added block around the configuration registers inside the various scan modules, for simplicity of reading only the conf block

## Current Behavior
Currently, the scan registers are all at the same

[2017-11-21 17:38] jsturdy opened #165 "Run number in applications"
## Brief summary of issue
Seems that passing the run number from the `GEMSupervisor` (after receiving it from `RCMS`) is problematic

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavior
Run number sent to applications is the same as that received from level zero FM

## Current Behavior
* For GEM applications, run number sent to applications is incremented by 1

[2017-11-21 17:53] jsturdy opened #166 "Update TTC command mappings"
## Brief summary of issue
* The AMC13 is expecting TTC commands to be by default
 * `BC0` (`0x01`) and `EC0` (`0x03`) are hard-coded
 * `OC0` (`0x28` `m0x17`) and `Resync` (`0x48` `m0x17`) are user programmable
* The "default" commands (in TCDS config and AMC firmware) are:
 * `BC0` (`0x01`)
 * `EC0` (`0x02`)
 * `OC0` (`0x08`)
 * `Resync` (`0x04`)

### Types of issue
- [x] Change in behaviour (req

[2017-11-29 17:48] #161 closed

[2017-11-29 17:48] #164 closed

[2017-11-29 17:48] #165 closed

[2017-11-29 17:48] #166 closed

[2018-02-08 16:59] jsturdy opened #169 "Timeout when transition takes too long"
## Brief summary of issue
Need to add a timeout in the event that a transition takes "too long" where "too long" needs to be better defined.

### Types of issue

- [x] Feature request (request for change which adds functionality)

## Expected Behavior
Saw an instance where the FSM was stuck between transitions and was preventing the FSM from moving to the next state.
This would have gone on foreve

[2018-02-08 22:27] #106 closed

[2018-02-08 22:29] jsturdy commented on #10
Code builds now on `cc7` and `gcc-4.8.5` so closing, also probably stale and no longer relevant

[2018-02-08 22:29] #10 closed

[2018-02-08 22:30] jsturdy commented on #89
Should be all done

[2018-02-08 22:30] #89 closed

[2018-02-08 22:31] jsturdy commented on #6
Stale and/or no longer an issue

[2018-02-08 22:31] #6 closed

[2018-02-08 22:33] jsturdy commented on #19
No longer an issue, closing as fixed

[2018-02-08 22:33] #19 closed

[2018-02-08 22:34] jsturdy commented on #50
Closing as on hold

[2018-02-08 22:34] #50 closed

[2018-02-08 22:37] jsturdy commented on #136
Fixed by #138

[2018-02-08 22:37] #136 closed

[2018-02-14 15:09] jsturdy opened #170 "test"
blah blah
somethign
goodies
* one thing
* two thing
  * red thing
  * blue cosa

[2018-04-23 20:52] jsturdy opened #174 "UHAL updates"
## Brief summary of issue
Upstream changes in the `uhal` library have some changes in the pipeline

### Types of issue
- [x] External compatibility (change to maintain compatibility with external library)

[code]
## Context
* `uhal` version `2.4` does not implement the change
* `uhal` version `2.5` implements the change, but maintains backwards compatibility
* `uhal` version `2.6` implements the c

[2018-04-26 10:03] bdorney opened #175 "Discussion: Unified Connections File for All CERN Test Stands"
## Brief summary of issue

We have several systems at CERN which are expected (and have) exist for a long time now:

- P5 v2b electronics (`eagle33`),
- P5 v3 electronics (`eagel61`),
- 904 coffin setup (`eagel34`),
- 904 firmware development setup (`eagle64`),
- QC8 (`eagle26`, and in the future `eagle60` and `eagle64`),
- V3 R&D (`eagle60`)

Each time a new developer, or a developer to a new sys

[2018-04-26 12:06] jsturdy commented on #175
In progress with machine profiles

[2018-05-02 15:38] mexanick opened #177 "Configuration DB discussion"
## Brief summary of issue

Proposed Use Case diagram
![vfat config db](https://user-images.githubusercontent.com/7428758/39533497-7e6fca4e-4e2f-11e8-9c5b-a259eb7045a7.jpg)

Proposed ERD diagram
![gem db erd diagram](https://user-images.githubusercontent.com/7428758/39533554-a41cf398-4e2f-11e8-9a01-2e49a4fce09e.jpg)

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature

[2018-05-03 08:16] bdorney commented on #177
In the "Use Case Diagram" under the `Update VFAT Chip Settings` why is the only thing listed as:

Shouldn't we also be listing the other uses cases, for example:

- Update voltage level on comparator (`CFG_THR_ARM_DAC` or `CFG_THR_ZCC_DAC`), and/or
- Update latency setting of the chip, and/or
- Update pulse stretch setting, and/or
- Update preamp gain setting, and/or
- etc...

Perhaps one or two o

[2018-05-04 16:09] bdorney opened #178 "Bug Report: linkuhaltables.sh does not create correct links."
## Brief summary of issue

Cannot make uhal links with `linkuhaltables.sh` due to syntax differences between address table filenames in the release and expectation in `linkuhaltables.sh`

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

`linkuhaltables.sh` should conform to the syntax of

[2018-05-04 16:11] bdorney commented on #178
seems like also script is expecting `uhal_gem_amc_ctp7__AMC.xml` but in the release there is only `uhal_gem_amc_ctp7_amc.xml`

[2018-05-08 14:50] jsturdy commented on #178
If the address table names in the zip file are all normalized (and matching what the software is expecting), then there is no need for the script, one can simply execute:
[code]

[2018-05-23 08:13] mexanick opened #181 "AMC13 repo is incompatible with uhal2.6"
This repository requires an uhal < 2.6
https://github.com/cms-gem-daq-project/cmsgemos/blob/eda69b0c2f4f261958dc4d204943a649fc45b665/config/setupMachine.sh#L327

The correct should look like:
[code]
So I assume a `/uhal2.6` must be inserted in the repo path
@bdorney

[2018-05-23 08:40] jsturdy commented on #181
Related to #174

[2018-05-29 21:47] jsturdy commented on #175
Current machine setup script assigns slot/shelf based aliases in the `/etc/hosts` file, making programatic name resolution trivial (for CTP7s, for AMC13 and other cards, we may have to write a `sysmgr` module to assign the geographic IP addresses)
This *can* (with a few modifications) remove the need for a `connections.xml` file, instead relying on shelf/slot/type specifiers and creating the conne

[2018-05-30 06:00] mexanick commented on #175
I think at least at the short time scale we need to update the connections file. When we will be ready with automatic name resolution, we can drop it, but right now we don't have any other working mechanism. Besides we still need to keep the structure shelf-slot-card somewhere and having it in the repo is not that bad idea... Maintaining/checking the twiki could be ambiguous.

[2018-05-30 08:39] jsturdy commented on #175
As anyone who's discussed this (and related) issue(s) with me knows, I'm fairly strongly opposed to having this connection file tracked inside `cmsgemos`, similarly as to how I oppose the `chamberInfo.py` file of `gem-plotting-tools`

Having this information version controlled: good idea
Having this type of setup specific information in the specific repository that uses the class of information it

[2018-05-30 08:48] mexanick commented on #175
@jsturdy I agree with your reasoning. However we **must** provide a proper source of connection file for each setup at the moment, otherwise persons who operate them loose a lot of time. So I insist we need to provide a master connection file until we get another, better way of handling the things. This is a temporary and not the best solution, however we do not have any other ready solution at th

[2018-05-30 10:28] jsturdy commented on #175
I am saying that this is *already* done (one can easily rerun the `setupMachine` script with the `-C` option to set up a system for communication with a CTP7, which sets up the appropriate files, modulo some manual change to pick the correct IP address of any AMC13s connected.)

[2018-05-30 11:55] mexanick commented on #175
@jsturdy is there a documentation describing the connection methods in details (their imlementation in the xdaq)? I didn't see the update to `connections.xml` in the `setupMachine` script. So is the `connections.xml` completely outphased?

[2018-05-30 12:42] jsturdy commented on #175
No, a default one is generated, assuming only CTP7s and based on the number of `uTCA` shelves the sysadmin sets up.
It requires *no* change wrt current operating modes.
This update is in my currently open and being finalized PR.

[2018-06-04 20:06] #118 closed

[2018-06-04 22:03] jsturdy opened #183 "New tag not triggering travis build"
## Brief summary of issue
Pushed a new tag this evening but no corresponding travis build was triggered.
Pushed the same tag to my own remote and the build triggered

### Types of issue

- [x] Bug report (report an issue with the code)

## Expected Behavior
Push a tag, generate a build

## Current Behavior
Push a tag, no build generated

[2018-06-07 09:16] jsturdy commented on #183
Seems due to repository settings, will know for sure with next PR/tag push

[2018-06-08 12:50] jsturdy commented on #183
Secondary issue is moving and creating files between the `docker` container and the `travis` VM, currently breaking the creating of `RPM` tarballs to upload, rather than many individual `RPM`s

[2018-07-06 15:00] AndrewLevin opened #186 "Bug report: xdaq is calling confChamber.py with hardcoded chamber filenames"
While running xdaq on gem904qc8daq, we found that it was trying to configure chambers using configuration files like chConfig_GEMINIm01L2.txt, which do not exist on our machine.

We see error messages such as

[code]
in the our xdaq log file /home/gemuser/gemdaq/xdaq_log_Cosmics_2018.07.06.14.15.05.txt  on gem904qc8daq.cern.ch

### Types of issue

- [x] Bug report (report an issue with the code)
-

[2018-07-08 21:48] jsturdy commented on #186
The `xdaq` code is calling `confAllChambers.py -s<slot> --ztrim=4 --vt1bump=10 --config --run`, and it will stay this way for the near term as it is the most convenient for P5 data taking (and *should* be compatible with other setups, provided they simply put the desired configuration files in the expected location)

[2018-07-11 12:57] #186 closed

[2018-07-11 13:01] jsturdy opened #187 "`query.py` broken"
## Brief summary of issue
`gempython/utils/db/query.py` is [badly broken](https://github.com/cms-gem-daq-project/cmsgemos/blame/generic-amc-release-v3/gempython/utils/db/query.py), probably the result of a bad merge/rebase

I think we noticed this before, but must not have fixed it fully (it gets patched at P5 for the specifics there)

@mexanick I just need a quick guidance on what this should loo

[2018-07-13 09:10] jsturdy opened #188 "Old instance of connection file referenced"
## Brief summary of issue
at least one instance of old `connections_ch.xml` is referenced in `gempython`

[code]

* Not all of these are relevant for future code, but are posted here for my reference when fixing

### Types of issue
- [x] Bug report (report an issue with the code)

## Possible Solution (for bugs)
* Replace all references to `connections_ch.xml` with `connections.xml`

[2018-07-15 10:59] jsturdy opened #189 "Application crash in state transitions"
## Brief summary of issue
[code]

### Types of issue

- [x] Bug report (report an issue with the code)

[2018-07-15 14:55] bdorney commented on #189
Potentially related: http://cmsonline.cern.ch/cms-elog/1052654

[2018-07-15 18:22] jsturdy commented on #189
Unrelated, the application had not crashed, the issue was a remote command that was never finishing

[2018-07-16 16:14] bdorney opened #190 "Bug Report: Build Error in amc13manager.py"
## Brief summary of issue

Build error in 4862f21  which was introduced by https://github.com/cms-gem-daq-project/cmsgemos/pull/185.

This was actually caught by travis:

https://travis-ci.org/cms-gem-daq-project/cmsgemos/jobs/396895862#L4292

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavi

[2018-07-16 16:30] #190 closed

[2018-08-06 12:22] jsturdy opened #193 "[New feature] Implement special running states"
## Brief summary of issue
Need to implement `RCMS` states `RunningDegraded` and `RunningSoftErrorDetected` states and actions associated (`FixingSoftErrorDetected`)

### Types of issue
- [x] Feature request (request for change which adds functionality)

## Expected Behavior
Depending on the situation, we will need to raise awareness of a degraded state (fixable or not)
* Fixable (`RunningSoftError

[2018-08-17 10:16] mexanick opened #196 "Integration of xHAL RPC manager with the cmsgemos"
## Brief summary of issue

Need to integrate the xHAL library into HwManager base class somehow. Please let me know of your thoughts. So far I was thinking about providing an RPCManager pointer to the HwDevice parallel to the uhal::Device
### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

[2018-08-17 10:21] mexanick opened #197 "Provide DAQ monitoring interface and integrate RPC calls to retrieve monitorables"
## Brief summary of issue

- Implement firing of corresponding items to the infoSpace
- Implement web templates
### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

[2018-08-17 16:08] mexanick commented on #197
thanks for the detailed comment! My thoughts are inline:

The plan is to have an AMCDevice or AMC manager class and provide one instance of this class per AMC board. Each object will be independent and can leave in its own thread (and thread behavior can be additionally monitored by the means of XMAS). This object will manage a connection to the given AMC board and provide all the communication to

[2018-08-21 11:58] bdorney opened #198 "Bug Report: Error encountered when building gempython"
## Brief summary of issue

Build error encountered when trying to build `cmsgemos_gempython`

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Should build without issue.

## Current Behavior

Received following build error:

[code]

### Steps to Reproduce (for bugs)

[code]

## Possible

[2018-08-21 12:12] bdorney commented on #198
Resolved the compile error illustrated above.  However this leads to another issue:

[code]

Seems like this was added by @mexanick:

https://github.com/cms-gem-daq-project/cmsgemos/commit/b3bfbe89a37b0095e0224be77681219067df5eef#diff-fc6b47e30ac63547a977e1b612624b9e

[2018-08-21 12:17] bdorney commented on #198
Interesting that `travis CI` did not catch this error in:

https://github.com/cms-gem-daq-project/cmsgemos/pull/194

[2018-08-21 15:10] jsturdy commented on #198
doesn't look like the build actually ran... have to investigate

[2018-08-22 07:42] jsturdy commented on #198
@bdorney can you verify that the rpm build will now work on your (updated) checkout?

[2018-08-22 12:43] bdorney commented on #198
After incorporating #199 and #200 I can on the now updated checkout that the build proceeds without issue.

[2018-08-22 12:43] #198 closed

[2018-10-26 08:46] bdorney commented on #178
Closing as irrelevant in post packaging world

[2018-10-26 08:46] #178 closed

[2018-10-26 08:47] bdorney commented on #130
`paths.sh` no longer used, closing as irrelevant.

[2018-10-26 08:47] #130 closed

[2018-10-26 08:48] bdorney commented on #119
closing as stale

[2018-10-26 08:48] #119 closed

[2018-10-26 08:49] bdorney commented on #84
GLIB no longer used.

[2018-10-26 08:49] #84 closed

[2018-10-29 15:42] jsturdy opened #213 "GEM online DB configuration objects"
## Brief summary of issue
There is a new branch `feature/gemonlinedb` that contains the new `gemonlinedb` package structure.
This package is going to aim to provide the interface between the online software and the online DB (and configuration documents).
For further context, see the parent [project](https://github.com/orgs/cms-gem-daq-project/projects/6)

### Types of issue
- [x] Feature request

[2018-10-29 15:44] jsturdy opened #214 "Fill xml templates"
## Brief summary of issue
There is a new branch `feature/gemonlinedb` that contains the new `gemonlinedb` package structure.
This package is going to aim to provide the interface between the online software and the online DB (and configuration documents).
For further context, see the parent [project](https://github.com/orgs/cms-gem-daq-project/projects/6)

### Types of issue
- [x] Feature request

[2018-10-29 15:46] jsturdy opened #215 "Configuration reader"
## Brief summary of issue
There is a new branch `feature/gemonlinedb` that contains the new `gemonlinedb` package structure.
This package is going to aim to provide the interface between the online software and the online DB (and configuration documents).
For further context, see the parent [project](https://github.com/orgs/cms-gem-daq-project/projects/6)

### Types of issue
- [x] Feature request

[2018-10-29 16:02] jsturdy commented on #214
Can't attach the templates here it seems, and also have some things that might need to be updated, but I'll put them in the `feature/gemonlinedb` branch

[2018-10-29 16:07] jsturdy commented on #177
Issues #214, #213, #215 created to address various related aspects

[2018-11-02 15:16] lmoureaux commented on #177
I have a few questions/remarks.

### 1. XML templates and contents
1. Is there any documentation of the XML format? While I can reverse-engineer most of the structure from the templates, I may not be aware of all restrictions.
1. Is there any comprehensive list of the settings that should be recorded? @bdorney, did you mention two weeks ago that you had this information in slides?

### 2. Architec

[2018-11-09 10:10] bdorney commented on #177
Understood that this was discussed privately among @jsturdy @lmoureaux and @mexanick.  Would someone be able to post a summary of this discussion to keep other developers in the loop?

[2018-11-09 10:12] lmoureaux commented on #177
The bottom line of the discussion was that I would post a summary in the form of use-case and class inheritance diagrams.

[2018-11-12 08:02] bdorney opened #217 "Discussion: xdaq state transitions & v3 hardware"
## Brief summary of issue

@jsturdy asked me to make a list of "new" v3 hardware specific actions that are necessary during xdaq state transitions.  Given this is a debugging process I think I will semi-regularly update/reply to this issue as things come up.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

##

[2018-11-12 08:43] bdorney commented on #217
Obviously since nothing is performing actions on VFATs if I press `Halt` or `Stop` the VFATs stay in run mode, e.g.:

`GEM_AMC.OH.OH0.GEB.VFAT0.CFG_RUN`

Should go to `0x0` after stopping data taking.

[2018-11-12 08:58] bdorney opened #218 "Feature Request: V3 Hardware Monitoring"
## Brief summary of issue

Requested hardware monitoring in v3 hardware.

For the stuff below I know we have one main monitoring page, but I image that this is *too* much information for that page and so I would suggest it goes in a dedicated sub tab.  E.g. we have the main monitoring page, each AMC has it's own tab (as it is now), and then on each AMC tab there is a sub tab for OH and VFAT monito

[2018-11-12 10:06] jsturdy commented on #217
The fundamental question this discussion should flesh out is: in a given state (transition), what does each piece of hardware **need** to do, and in what order with respect to other hardware.
Are there any new features in the V3 CTP7 FW/OptoHybrid FW/VFAT3 configuration, that need to be done in a specific order, or during a specific transition.

#### Transition summary:
* `Initialize` is where we

[2018-11-12 10:06] jsturdy commented on #217
To avoid this (though perhaps it is useful at present to have this delay), you can add the `ssh` key of the account doing this action to the CTP7's `authorized_keys` file (this is what is done at P5)

[2018-11-12 10:07] jsturdy commented on #217
What are the implications if this does *not* happen?  I.e., if this happens during `Configure` (by calling the CTP7 module that triggers the BLASTER mechanism, which needs to ensure VFATs are in `RunMode` after every `HardReset`) is there any downside

[2018-11-14 14:40] mgruchala opened #219 "[Bug report]No loop execution in the CTP7 due to wrong NOH being passed"
The DACScan root files are empty after executing the scan, due to wrong value being passed to the function.

The problem is not explicite seen as the ```run_scans.py dacScanV3 eagle64 0x4 YY``` is being executed w/o stating any errors, the further look into the log files, shall be taken into consideration. Example below:
[code]
### Types of issue

- [x] Bug report (report an issue with the code)
-

[2018-11-14 17:02] bdorney commented on #219
In the short term take a DAC scan using `dacScanV3.py` instead of `run_scans.py` and use the `--series` option.

I think the longterm fix would just be to change line:

https://github.com/cms-gem-daq-project/cmsgemos/blob/2d9f965b257b751eb17b20215b8196ec486f327a/gempython/tools/amc_user_functions_xhal.py#L325

To:

[code]

[2018-11-15 16:34] lmoureaux commented on #177
Here's the summary. The use case diagram can be found below:
![screenshot_20181115_160634](https://user-images.githubusercontent.com/22327575/48561513-6dfea480-e8f0-11e8-8241-96719dbdba2c.png)
It's very similar to what @mexanick already wrote down, except that I don't show the use case substructure -- the fact that eg viewing a configuration can be done for only AMC (or anything else in the class

[2018-11-15 17:06] jsturdy commented on #177
OK, let's see how it starts shaking out

[2018-11-17 01:17] lmoureaux opened #221 "git dirty after typing make"
## Brief summary of issue

Just typing
[code]
makes the VCS dirty.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Building software doesn't modify files under version control.

## Current Behavior

On branch `develop`, the file `gemhardware/Makefile.progress` (in git) is modified durin

[2018-11-26 19:00] lmoureaux commented on #213
In the xml templates there are fields like this (from the VFAT3 chip configuration):
[code]
Two values of `_NAME` are used in the template, but only one per `<DATA>` block:

* `GLB_CAL0_CFG_CTRL`
* `GLB_CAL1_CFG_CTRL`

From the VFAT3 manual, I understand that they correspond to two complementary registers, `GBL CFG CAL 0` and `GBL CFG CAL 1`. They are mapped to two different columns in the databas

[2018-11-27 09:53] jsturdy commented on #213
* This template *might* be outdated (we had specifically requested that this duplication of `NAME` `VALUE` be removed), @mexanick did I upload an older version? Or possibly we didn't get a new one following our feedback from Imran?
* The "template" that is uploaded I think is not a proper "template", rather, an example of how the data could be placed... (I'm looking at some previous code I wrote f

[2018-12-03 09:43] jsturdy opened #223 "python package structuring"
Adding the `c++` `boost`ed `python` bindings to the `cmsgemos_gempython` package may bring another restructuring of the `gempython` `python` namespace, in order to keep the `import`s clean.
Currently we have a structure like:
[code]

where `gemplotting` and `vfatqc` come from separate repositories, and `core`, `tools`, `utils` come from `cmsgemos_gempython`.
`core` is going to contain the library

[2018-12-03 11:46] lmoureaux opened #224 "Can't generate doc"
## Brief summary of issue

I'm experiencing trouble when trying to add documentation. Namely,
[code]
generates the following output:
[code]

Removing the appropriate `>/dev/null` from the Makefile, I get:
[code]

Indeed the file doesn't exist. Am I doing something wrong?
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functi

[2018-12-03 11:46] lmoureaux commented on #224
@jsturdy (only admins can assign)

[2018-12-03 15:02] jsturdy commented on #224
I'm pretty sure (read, certain) that `doc` target is not validated.
In my local area, I had put the configs in `docs/`, but have not yet pushed the config.
I will can run through and make sure things build with the given config and add a patch that you can `rebase` off.

[2018-12-03 15:53] jsturdy commented on #224
You should be able to `fetch` and `rebase` from `cms-gem-daq-project:feature/gemonlinedb` to fix this in your working tree.  If any issues remain reopen this.

[2018-12-03 16:35] lmoureaux commented on #224
[code]
Works if I create the directory by hand. Only maintainers can reopen issues in this repo.

[2018-12-04 14:23] jsturdy commented on #224
OK, `build` doesn't have anything persistent in it, so #227 should fix that.
There *shouldn't* be anything else preventing the doc building, but doc building is really my least concern at present...

[2018-12-14 09:11] jsturdy opened #230 "Scan type peculiarities"
## Brief summary of issue
Needed for the various scan types is a definition of what the various bit fields mean in the output data format; current implementation in `cmsgemos` does the following (the latency script used at `p5` may be different)

#### `RunType`: 4 bits `[59:56]` in `AMC H2`
* normal operations: `1`
* latency data: `2`
* "threshold" data : `3` (possibly redundant with latency, as o

[2018-12-14 11:03] bdorney commented on #230
In general I think we should *drop* now our VFAT2 lingo and adopt the VFAT3 vocabulary going forward.

Additionally how do we store the parameters a scan was taken with.  I see you've tried to store them in the words themselves in some cases but there are many relevant parameters that do need to be stored to understand results; we don't have enough bits here to do this.

Is there a "scan was taken

[2018-12-14 11:44] jsturdy commented on #230
That's a lot of useful information, but what's relevant here is:
* types of scans that will be run using this data path
  * for those, what is changing?
  * what is the size of the range of values that will be scanned?

From this, a format proposal should be easily found.
e.g.,:

#### Latency scan:
* Scans a 10 bit register
* Other configuration parameters (constant for acquisition) that are of in

[2019-02-07 09:55] jsturdy opened #234 "[feature] Add HW layout map for configuration via XML"
## Brief summary of issue
Configuration of setups with XML files needs a HW layout map, similar to the extra information that is provided by the DB view

### Types of issue
- [x] Feature request (request for change which adds functionality)

## Context
Needed information is:
* shelf/crate (`AMC`/`VFAT`/`OH`/`GBT`)
* slot (`AMC`/`VFAT`/`OH`/`GBT`)
* link (`VFAT`/`OH`/`GBT`)
* position (`VFAT`/`GBT`

[2019-02-07 10:01] jsturdy opened #235 "[feature] Populate configuration objects from TStore result"
## Brief summary of issue
The `TStore` library returns a table result of the DB query, and we need to fill the configuration objects from #231 with the resulting information

### Types of issue
- [x] Feature request (request for change which adds functionality)

[2019-02-07 10:59] jsturdy opened #236 "[feature] Template Web UI for GEM configuration objects"
## Brief summary of issue
Provide a simple starting point for a web UI for visualizing the imported configuration object structure, either from a DB view, or from an XML file

### Types of issue
- [x] Feature request (request for change which adds functionality)

## Context
Need to be able to modify certain settings in a user friendly way, or simply just to do a comparison between configuration se

[2019-02-13 15:30] lmoureaux opened #240 "[gemonlinedb] Cannot build tests"
## Brief summary of issue

PR #239 added an additional dependency on `gembase` and `gemutils`. This breaks `make tests`:
[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

`make tests` builds the tests and `make run-tests` runs them.

### Steps to Reproduce (for bugs)

1. Checkout `

[2019-02-13 15:38] lmoureaux opened #241 "[feature][gemonlinedb] Build and run tests on CI"
## Brief summary of issue

`gemonlinedb` comes with a set of tests. It's a pity that CI doesn't use them.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

Tests are run on CI, and merging of PR that break tests is blocked.

## Current Behavior

Tests aren't run on CI.

## Possible Soluti

[2019-02-13 16:09] jsturdy commented on #241
Unlikely, but will probably be possible in the `gitlab-ci` builds.
Can you separate the tests that require a DB connection, from those that test other features?

May require a new top-level `tests` target and associated rules

[2019-02-13 16:33] jsturdy commented on #241
Minimally changed (just to allow compilation) done in #242

[2019-02-13 17:01] jsturdy commented on #240
Resolved by #242

[2019-02-13 17:01] #240 closed

[2019-02-15 13:23] lmoureaux opened #244 "Online DB UI discussion"
## Brief summary of issue

A browser-based UI should be provided for the features of `gemonlinedb`. This issue is to discuss it.

## Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Proposed structure

Here is a proposal for the structure of the UI:

* **Monitoring page**
  * Whether the configuration is loaded

[2019-02-16 09:59] jsturdy commented on #244
What do you see as the entrypoint here?
I was thinking of a couple of things (that I'd seen in other projects):
* select the `TStore` view to load
* select a tag of a view, loaded from a list of known tags (may need a query, not sure how this is implemented)
* (maybe?) import an XML file from a list of files loaded into some object store
* (maybe?) import an arbitrary XML file loaded from the file

[2019-02-18 02:44] lmoureaux commented on #244
There doesn't need to be only one entry point. One could have:

* The current system configuration (what would be written to hardware if "configure" was pressed)
* Sets of XML files for operation without a DB
* A DB browser from where one can select content from the DB
* The actual system configuration (reading back from hardware)

The options above define the sources from which configuration obje

[2019-02-18 09:28] jsturdy commented on #244
Here is what I meant by this point: I haven't settled in my mind whether I think the web UI of the GEM online DB library should have direct access to hardware, or whether this should be populated via some mechanism from the HW manager class itself.  We'll want to minimize the number of things that are actually doing HW access.  However, at the same time, I'm envisioning this web UI as something th

[2019-02-18 22:39] lmoureaux commented on #244
Could you provide some examples of views one would be able to select? I need some clarification here because of how broad the "view" concept is.

I like the second option better, for I'd like to keep the DB module as ignorant of the actual hardware as possible. The HW manager could implement some API to expose the current parameters. The relevant parts of the UI would be enabled only if the manage

[2019-02-19 13:57] jsturdy commented on #244
Broad strokes, the `TStore` view objects will return the content of the "views" that we've requested to be defined by the DB guys, i.e., one view for `VFAT` config info, one for `OptoHybrid`, one for `AMC`, and one for `AMC13`, so the underlying query would be something along the lines of:
[code]

Currently, these views are *almost* sufficient (there are two views for `VFAT3`s, the chip and channe

[2019-02-19 16:26] lmoureaux commented on #244
This point was related to what we discussed today about the possibility to save only what was changed or start a new configuration run.

[2019-02-26 10:26] cgalloni opened #251 "GEM onlinedb fails to compile"
## Brief summary of issue

GEM onlinedb package of the branch `feature/gemcalib`  fails to compile with error:
[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Compile with no errors
## Current Behavior

### Steps to Reproduce (for bugs)

* Setup your building env
* Run compilatio

[2019-02-26 10:57] lmoureaux commented on #251
The build succeeds for me. This error is reported because generated headers (`*Gen.h`) are created after the compiler is run to check for header dependencies (creating `.d` files), but it's not fatal and compilation continues.

I'll add the prefix later but errors will still be printed because the underlying problem really lies in the `Makefile`. I don't know how to fix it...

[2019-02-26 11:19] jsturdy commented on #251
For me this error is never present when compiling, only when cleaning (e.g., when the command is executed through `/bin/sh -ec 'cmd'`).
Actually, it looks like it's erroring when it tries to generate the `.d` dependency files (though in my case, the headers are qualified as they should be)...
[code]

[2019-02-26 14:12] jsturdy commented on #251
OK, in a brand new build setup I replicate the non-fully qualified paths for certain files, as @cgalloni, though, again, the build completes, as these errors only happen during the dependency generation

[2019-02-27 00:21] mexanick commented on #251
Indeed, the build completes, but I think we should try to fix this in the future.

[2019-02-27 12:34] jsturdy commented on #251
What probably needs to happen is that the code generation should to happen before the `PackageListLoop` is run (or the `ReversePackageListLoop` for a `clean` target), which is a prerequisite of the dependency generation.
I'll take a look at this in the future, but as it's non-blocking now, I don't think it needs attention now

[2019-03-01 13:56] cgalloni opened #254 "GEM daqmonitor not visualizable in the web interface"
Gemdaqmonitor package  from branch ` `cmsgemos/develop` correctly compiled, but  the web interface visualization fails.

## Brief summary of issue

Gemdaqmonitor package correctly compiled, but  the web interface visualization fails, giving error about undefined symbol
[code]
[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change whic

[2019-03-01 17:42] jsturdy commented on #254
TL;DR: there is an error in the `gemdaqmonitor.xml` file, `libgemhardware_managers.so` should be loaded into the process.

### Long version:
This is due to one or two issues
The first is that `gemdaqmonitor` is built with a dependency on `gemhardware`, but the xml startup config does not load the appropriate shared object.
It seems that the only dependency that `gemdaqmonitor` has is on some conve

[2019-03-13 15:24] BenjaminRS opened #259 "Debugging scripts fails with the gemlogger: Permission denied: '/tmp/gempython.log'"
## Brief summary of issue

As part of attempting to implement [vfatqc-python-scripts#224](https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/224) I am testing some new code. The code failed but instead of getting useful feedback I received a message stating the gemlogger having permission errors.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature r

[2019-03-13 15:26] BenjaminRS commented on #259
@jsturdy @bdorney was suggesting that this could use the $USER variable as a solution

[2019-03-21 08:36] BenjaminRS commented on #259
testing in python on gem904qc8daq I tried:
`import os`
`os.getlogin()`
this produced:

So that could be the answer? Maybe if a couple other try it, and if it also gives the correct username I can make a PR with it?

[2019-03-21 12:31] jsturdy commented on #259
My only constraint here would be that the behaviour of the "system" installed package should **not** write a log to a user specific location

[2019-03-21 12:35] BenjaminRS commented on #259
even if it is under /tmp/ ?

[2019-03-21 15:09] jsturdy opened #264 "[feaure] Calibration suite UI"
## Brief summary of issue
Discussion of design of calibration suite UI

### Types of issue
- [x] Feature request (request for change which adds functionality)

## Context
[slides](https://www.dropbox.com/s/b6c654p3t8s36vz/CalibrationInterface.pdf?dl=0)

[2019-03-21 15:50] jsturdy commented on #264
### Tracking data scans
#### Slide 1
* The current dropdown has both calibrations as well as simple monitoring (temperature scan?). I would separate these

#### Slide 2
* Common settings for all tracking data scans:
  * Trigger source
    * `Loopback` is not currently applicable (maybe one day if we do a local trigger loopback from AMC to AMC13)
    * `TTC` is really the only option if full tracki

[2019-03-22 11:44] lmoureaux opened #265 "Clarify licensing"
## Brief summary of issue

The license under which cmsgemos is provided isn't clear. The rpm specs state either MIT (most packages) or BSD (under `gemxaas` and `setup`). On the other hand, uHAL and controlhub are [licensed under GPLv3](https://github.com/ipbus/ipbus-software/blob/master/LICENCE), and therefore anything linking to them needs to use the same license.

### Types of issue

- [ ] Bug r

[2019-03-25 10:58] bdorney commented on #259
@jsturdy is it possible for the logger to set the permissions on the log file to have group write permissions?  This would then probably resolve the issue at hand?

[2019-03-25 18:04] bdorney commented on #264
# Slide 1

@jsturdy if you separate calibration and monitoring scans how do you provide the user a way to perform these?  Do we foresee to continue to maintain the `vfatqc` repo?  In this case then yes this monitoring scan could be dropped.

# Slide 2

- Drop down list change `Phase Scan` to `GBT Phase Scan`
- Change `S-bit Rate Scan` to `S-bit ARM DAC scan`, we are using the sbits to scan the arm

[2019-03-25 23:30] jsturdy commented on #264
My primary point here was that a "monitoring scan", as best I understand it (and I have no idea what a "scan" of some monitor data really is), is not calibration related at all, and rather should be in some monitoring framework

[2019-03-26 09:36] bdorney commented on #264
Based on discussion in the meeting this morning @jsturdy and I agreed to remove the "Temperature Scan" from the UI.

[2019-03-26 09:56] mexanick commented on #264
ok, thanks guys for your feedbacks. I have a question: while we certainly can provide the interface labels based on @bdorney's suggestions, won't it'll be better to use the labels equal to or very similar to the param names in the RPC? This simplifies a bit the design on one hand and streamline the understanding of what's passed where from interface to embedded backend for future developments... E

[2019-03-26 12:01] bdorney commented on #264
I guess there’s two philosophies here:

1. What’s easier for the developer (which is for sure what your proposal will be), and
2. What’s easier for the end user (which I think is what I was shooting for)

Additionally I have specifically been trying to remove historic v2b electronics terminology which will for sure reduce confusion in the future.  I would favor this approach but if there is a *str

[2019-03-26 12:35] mexanick commented on #264
I'm all in about removing the v2 remnants. But i think it would ease the communication between users and developers if we have settings labels equal to an actual register name. And if the reg name is not reflecting its meaning, I would change it.

On Mar 26, 2019 13:02, Brian Dorney <notifications@github.com> wrote:

I guess there’s two philosophies here:

  1.  What’s easier for the developer (wh

[2019-04-01 05:48] bdorney opened #267 "Bug Report: Repo shows wrong URL"
## Brief summary of issue

RPM shows wrong URL after build.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Would expect `URL` to point to `cmsgemos` version.

## Current Behavior

[code]

### Steps to Reproduce (for bugs)

1. Build the package

## Context

Not really affected...

## Yo

[2019-04-01 15:30] bdorney opened #268 "Bug Report: HwAMC::getTriggerLinkStatus Doesn't Catch CSC Trigger Fiber is Unplugged"
## Brief summary of issue

Prep'ing for mass production and I noticed that the detector on the QC7 setup doesn't have the CSC Trigger fiber plugged in and `getTriggerLinkStatus` reports all counters as `0x0` and instead of returning true or false it returns the sum of all counters.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which

[2019-04-01 15:30] bdorney commented on #268
I'm going to start working on a solution immediately.

[2019-04-01 16:00] BenjaminRS commented on #268
This looks very odd -- is it possible that this happened due to squashing?

[2019-04-01 16:08] bdorney commented on #268
Yes `git` can do some strange things when merging/squashing.

[2019-04-01 16:41] bdorney commented on #268
Okay there where two problems, the first is the assignment error:

https://github.com/cms-gem-daq-project/cmsgemos/blob/bbaeabb01c7ab4c8862d0ad5c0cb6a1cfe973efa/gempython/tools/amc_user_functions_xhal.py#L425

The second is a bad indexing convention here:

https://github.com/cms-gem-daq-project/cmsgemos/blob/bbaeabb01c7ab4c8862d0ad5c0cb6a1cfe973efa/gempython/tools/amc_user_functions_xhal.py#L450-L

[2019-04-02 12:15] jsturdy opened #270 "Object removal/redefinition"
## Brief summary of issue
While going through the cleanup of the `Hw<Device>` interfaces, I'm cleaning out some obsolete/V2 only functionality.
Some of these are "link" status/reset functions, which were getting link error counters, and resetting these counters.
Probably these are mirrored in some (number of) other functions currently, and as a default I'm just going to drop them from the current

[2019-04-02 16:46] bdorney commented on #268
Yeah I found another bug:

[code]

[2019-04-02 17:45] bdorney commented on #270
# GTX_TRG_Errors

I guess this would keep the `GTX_TRG_Errors` since it's driven by the OH FPGA via the VTTx's.

I think it's not true to say there's no direct analog in v3 FW, for the case of `linkStatus.GTX_TRG_Errors` this is directly relatable to v3 FW.  See for example the [getmonTRIGGEROHmain](https://github.com/cms-gem-daq-project/ctp7_modules/blob/a7b0b98b4ffad8c76ff698a4f3b6bcf6b6e4cac0/s

[2019-04-02 20:37] BenjaminRS commented on #268
Where did the bug come from? I assume it is when asking for linkResult[(ohN+1)+idx*self.nOHs] ?

[2019-04-03 04:37] bdorney commented on #268
linkResult was initialized to all zeros so not the problem; it was ohSumLinkStatus (that I added) that didn’t have the OHN+1 key added when checking CSC trigger link.

[2019-04-03 12:19] mexanick opened #271 "Packaging variables"
There's a var `INSTALL_PREFIX` mentioned at few occasions, e.g.
https://github.com/cms-gem-daq-project/cmsgemos/blob/447c69671be6c87d06401f7bc53a3c9255d29d0d/config/mfPythonRPM.mk#L173
But it looks like it is not set anywhere and instead `INSTALL_PATH` is used in other places which is correctly defined in corresponding definition files.

[2019-04-03 14:59] BenjaminRS opened #272 "[feature] Automatically convert xdaq raw data into a gemTreeStructure format"
## Brief summary of issue
Need to create a daemon which runs a script that takes the raw format from xdaq (*.dat) for all shelves slots and links, unpacks the data and for each ohkey() converts it into a gemTreeStructure format.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

As describ

[2019-04-05 15:17] bdorney opened #274 "Bug Report: HwAMC::getVFATLinkStatus doesn't get real link status..."
## Brief summary of issue

It looks like `HwAMC::getVFATLinkStatus()` isn't returning the real link status.  It's reporting all `0x0`'s for SYNC_ERR_CNT immediately before attempting a DAC scan, but then the DAC scan fails due to a bus error from VFAT0, and immediately after I asked `gem_reg.py` to report the SYNC_ERR_CNT which disagreed with HwAMC::getVFATLinkStatus().

It's possible that the syn

[2019-04-05 15:21] bdorney commented on #274
Although maybe not a bug but just an issue of a wait time...

Trying by hand I see that VFAT0 is indeed bad...

[code]

[2019-04-05 15:26] bdorney commented on #274
[code]

I think this is an issue of timing because they now agree:

[code]

[2019-04-05 15:26] #274 closed, assigned to bdorney

[2019-04-25 16:26] bdorney commented on #268
Closed by #269

[2019-04-25 16:26] #268 closed, assigned to jsturdy, BenjaminRS, bdorney, mexanick

[2019-05-13 14:04] jsturdy commented on #213
@lmoureaux, for how I have currently hooked the HW to these configuration objects, see, e.g., [this (config object filler)](https://github.com/jsturdy/cmsgemos/blob/subfeature/hw-db-interface/gemhardware/src/common/optohybrid/OptoHybridManager.cc#L699), [this (HW object current register dumper)](https://github.com/jsturdy/cmsgemos/blob/subfeature/hw-db-interface/gemhardware/src/common/optohybrid/H

[2019-05-14 09:46] jsturdy opened #278 "[feature] Send calibration parameters to manager applications"
## Brief summary of issue
In order to have the hardware receive correct scan configuration, the parameters need to be sent from the `CalibrationSuite` to the appropriate `<HW>Manager` applications.

### Types of issue
- [x] Feature request (request for change which adds functionality)

## Expected Behavior
This can happen by doing the following:
* Define a `CalibrationParameters` object in `Calibr

[2019-05-14 11:01] lmoureaux commented on #213
Here are a few items from a cursory look at your code:

1. Instead of passing integers around, we could have special classes `AMC13Address`, ..., `VFATAddress` that would encapsulate them. A `VFATAddress` would be an `OHAddress` plus the VFAT ID, etc. Bounds can be checked automatically so one can't have an address pointing to VFAT 24. One could also define iterators...
2. Check pointers! The foll

[2019-05-15 14:22] jsturdy commented on #213
I'm not sure what you're proposing here, referencing specific places where this should be donE would be helpful.

Indeed, I would much rather have something like (similarly for other device configurations):
[code]
that would `throw` an exception in the case of a failure.

Indeed, I didn't want to have to know anything about the `detail::` code, however, this seemed like the only current way to imp

[2019-05-16 00:43] lmoureaux commented on #213
Virtually every function taking `int self, int slot, int ohN, int vfat` could be changed to take `const VFATAddress &addr`. Easier to write, easier to catch the intent.

[This Doxygen build](http://homepage.iihe.ac.be/~lmoureau/GEM/cmsgemos/doc/build/html/d8/d80/classgem_1_1onlinedb_1_1detail_1_1_v_f_a_t3_chip_configuration_gen.html#pub-methods) is a bit outdated but the methods are there, "hidden

[2019-05-16 11:06] jsturdy commented on #213
I see... I would not prioritize this at the present time.

Here I was mainly commenting on the fact that (as I understand them) anything inside the `detail::` namespace should not be part of the public API, and I shouldn't need to get things from there to interface with the objects.
However, it is the only way currently...

* `gembase` is supposed to hold everything that other GEM applications der

[2019-05-16 22:53] lmoureaux commented on #213
I see... let me clarify. The public API of a class outside of `detail::` is not an implementation detail. The fact that part of it is inherited from the a `Gen` class is a detail (and is subject to change without notice). Ideally, you shouldn't know about the `Gen` classes and see only the public methods of the configuration objects.

[2019-05-17 09:53] jsturdy commented on #213
Yes, this I (think I) understood, but my point was that to do almost anything with the configuration object currently, one *requires* the details (here I mean function names and signatures) *from* the `detail::` class, which as you state, should not be the case (though perhaps you are *only* referring to the implementation of the functions, rather than the names and signatures).
I agree that the *

[2019-05-17 15:59] jsturdy opened #279 "[feature request] Update status scripts for V3 address table"
## Brief summary of issue
Update of status scripts to use V3 address table.

### Types of issue
- [x] Feature request (request for change which adds functionality)

[2019-05-17 18:01] bdorney opened #280 "[feature_request] writeGBTPhase.py takes input textfile and writes all phases"
## Brief summary of issue

Request to change `writeGBTPhase.py` to be able to write all phases instead of the phase for a single VFAT.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

Add subparser to have different commands, e.g. `single` and `all` where `single` is the current behavior

[2019-06-02 16:05] lmoureaux commented on #213
Where would such classes live? In `gemutils`?

[2019-06-03 07:59] ram1123 commented on #280
@jsturdy , @bdorney: Please see the updated script https://github.com/ram1123/cmsgemos/commit/2b6b2711ce681a89694ccf1e92beb6a76e9d3bb5 .

Also, I tried to test it on `gem904qc8daq` machine. It seems it run without any error. You can see the output below.

[code]

[code]

Also, its help argument goes like below:

[code]

[code]

[code]

[2019-06-03 09:05] bdorney commented on #279
should this be considered closed since #281 is merged?

[2019-06-03 09:12] jsturdy commented on #213
Until it becomes an accepted feature, if you want to use something like this, then I'd suggest putting it inside the private `detail` interface where appropriate, such that the current indexing is not affected.

[2019-06-03 09:17] jsturdy commented on #279
Yes, should have been appropriately closed when merging

[2019-06-03 09:17] #279 closed, assigned to jsturdy

[2019-06-03 09:46] bdorney commented on #280
@ram1123 I provided some change requests on the commit message you linked above.

[2019-06-03 13:40] jsturdy commented on #280
This is not the best way to go, as comments in linked code are not easily traceable through the issue.
Some tips:
* The issue should be for discussing the mechanics and usage, and once that is squared away, a PR made.
* In the PR comments on the implementation details should be made.
* If you want to link to snippets, do inline snippet linking in replies to the issue, such that they'll show up in

[2019-06-03 17:02] ram1123 commented on #280
@bdorney

If we define it like this then it does not shows the common options as shown below:
[code]

The current version (as I did) shows the help argument as:

[code]

So, this shows that there are two different sub-arguments along with two common arguments `shelf` and `slot`.  Thus, I would prefer the current way. If you still want me to do it like as you suggested I can do. Let me know.

[2019-06-03 17:38] ram1123 commented on #280
@bdorney

yes it checks, [here](https://github.com/cms-gem-daq-project/xhal/blob/fc3f8338ee2bd1d8d52b064e12f454d7da91c21c/python/reg_interface_gem/core/gbt_utils_extended.py#L172-L199)

[2019-06-04 07:58] ram1123 commented on #280
@bdorney

In the above command the `vfatBoard` is defined as

https://github.com/cms-gem-daq-project/cmsgemos/blob/ab72ed6b6781d2dfb57629ec58d373513a7e8a39/gempython/tests/writeGBTPhase.py#L21-L22

Here `vfatBoard` takes `args.link` as one of argument. As per the current format of the text file, e.g. `gbtPhaseSetPoints_GE11-X-S-INDIA-0008_current.log`, it has only one link. But, this code will als

[2019-06-11 18:53] bdorney opened #284 "[feature request] trackingDataCalibrationScan.py Calibration Scans w/full data path."
## Brief summary of issue

Provide a tool to take calibration scans using VFAT3 calibration module and full data path to allow for multiple AMCs/links.

Should target branch `generic-amc-RPC-v3-short-term`.

Going to need:
- https://github.com/cms-gem-daq-project/ctp7_modules/issues/129
- https://github.com/cms-gem-daq-project/xhal/issues/118

### Types of issue

- [ ] Bug report (report an issue

[2019-06-11 18:55] bdorney commented on #284
Okay I think I haven't forgotten anything.  But before @ram1123 get's started it would be good if @mexanick or @jsturdy could review this.

Step 5 above might be updated when we here back from BU regarding how to configure AMC13 to have a fixed delay between L1A and BGO; @evka85 is also working on a FW functionality which would enable the CTP7 to delay an L1A from the AMC13 and send a calpulse the

[2019-06-11 18:56] bdorney commented on #284
In the meantime @ram1123 the two issues in `xhal` and `ctp7_modules` are straight forward enough that you could get started already on them.

[2019-06-18 10:34] bdorney commented on #284
I will have a prototype to test hopefully by the end of the day or tomorrow.

[2019-06-19 15:54] jsturdy opened #289 "[feature request] python bindings"
## Brief summary of issue
Update `python` bindings to the new (after #288 ) codebase
* As a bare minimum (milestone `1.2.X`)
  * All of the current code in `gempython` must be updated to use the exported functions
  * Any mandatory functions which are currently not exported must be
  * Any unnecessary (but currently exported functions) should be removed

### Types of issue
- [x] Feature request (r

[2019-06-19 17:51] lmoureaux commented on #289
Probably worth looking at the [Python wiki](https://wiki.python.org/moin/IntegratingPythonWithOtherLanguages#C.2FC.2B-.2B-_Binding_Generators)

[2019-06-20 11:43] jsturdy opened #290 "[feature request] parallelize operations on distinct connections"
## Brief summary of issue
Current loops that operate on hardware during state transitions loop over all hardware devices.
This should be adapted to parallelize operations done through a single back-end card (`AMC`), and only perform loops where paralleilzation is not actually possible/beneficial (e.g., `OptoHybrid`/`VFAT`)

### Types of issue
- [x] Feature request (request for change which adds fu

[2019-06-21 15:46] lpetre-ulb opened #291 "Invalid default value in `HwVFAT::stopCalPulses`"
## Brief summary of issue

The default value of `chanMax` in `HwVFAT::stopCalPulses` is an invalid value (128) :

https://github.com/cms-gem-daq-project/cmsgemos/blob/48e2f269dac0947be0101d2a9f0d943752e2ce61/gempython/tools/vfat_user_functions_xhal.py#L265

Therefore, when called without arguments, errors are seen in the CTP7 log file and reported to the user through the `error` RPC message key :

[2019-06-27 10:02] bdorney opened #292 "Bug Report: vfat_info_uhal.py throws exception with fixed uhal address tables in GEM_AMC 3.8.4"
## Brief summary of issue

Info tools throw `uhal` exception with fixed address tables.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

No `uhal` exception should be raised.

## Current Behavior

Calling `vfat_info_uhal.py` throws a `uhal` exception:

[code]

But this file is valid:

[c

[2019-06-27 10:05] bdorney commented on #280
Addressed by https://github.com/cms-gem-daq-project/cmsgemos/pull/283

[2019-06-27 10:05] #280 closed, assigned to bdorney

[2019-06-27 10:09] jsturdy commented on #292
I doubt the table is valid... (especially since the parser is failing)
Have to check that the bugs reported in the address table generation in evka85/GEM_AMC#27 and evka85/GEM_AMC#34 have been fully addressed...

[2019-06-27 10:10] jsturdy commented on #292
Indeed, this is still broken:
[code]

[2019-06-27 10:15] bdorney commented on #292
@evka85 do you think we could hotfix the address tables today?

[2019-06-27 12:31] jsturdy commented on #292
Not a bug, closing, to be addressed in appropriate repository with a fixed release

[2019-06-27 12:31] #292 closed, assigned to jsturdy, bdorney, mexanick

[2019-07-03 12:54] cgalloni commented on #278
Expected behavior

Upon pressing "apply" button on the Calibration User Interface [applyAction](https://github.com/cgalloni/cmsgemos/blob/gemcalib-cami-fixup-last/gemcalibration/src/common/Calibration.cc#L78) optical link mask and calibation parameters are retrieved from the UI

- Then depending on the calibration type ( VFAT DAC scan or not) two kinds of messages are prepared and sent [here](http

[2019-07-08 14:38] jsturdy commented on #278
Hi @cgalloni, sorry for the slow reply.  I'll try to make a few comments here, but my overall comment is going to be: let's focus on the tracking data type scans, since these are the ones where we will benefit from the integration, the speed of the other scans, I believe (@bdorney should remind us), will not significantly be changed by integrating them into this framework, because they are still o

[2019-07-08 14:57] cgalloni commented on #278
Hi Jared, thanks for the feedbacks. I'm available tomorrow after the meeting to discuss.

[2019-07-09 15:15] bdorney opened #295 "Feature Request: `HwVFAT::biasAllVFATs(...)` throws exception if RPC Error Code != 0"
## Brief summary of issue

Would like `HwVFAT::biasAllVFATs` to check the RPC response and raise an exception if it is nonzero.

Target branch is [`generic-AMC-RPC-v3-short-term`](https://github.com/cms-gem-daq-project/cmsgemos/tree/generic-amc-RPC-v3-short-term)

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality

[2019-07-09 21:04] #291 closed, assigned to lpetre-ulb

[2019-07-10 05:14] bdorney opened #297 "Feature Request: Drop Bits [31:16] of ChipID if rawID is False"
## Brief summary of issue

For older hybrids where `HW_CHIP_ID` is not encoded with Reed-Muller algorithm we can have bit flips in `HW_CHIP_ID` which causes problems when reading/storing this information.  Additionally we know the first set of VFATs have `HW_CHIP_ID` in the range [0,6099].  So a single bit flip in bits `[31:16]` will cause `HW_CHIP_ID` to be wrong.

Here I would propose we only us

[2019-07-10 16:33] bdorney commented on #295
With proposed solution we have an example of a not working call:

[code]

And an example of a working call:

[code]

[2019-07-10 23:54] jsturdy commented on #297
And in the case where the bit flip happens in bits `[15:0]`... we accept that a subsequent action done based on the ID may very well be incorrect?
I don't think I would blindly mask off these bits, but would rather print an error/warning to the output, so that a person could be alerted if there is a potential for such an outcome.

[2019-07-10 23:58] jsturdy commented on #295
What is the (desired and current) outcome in a case where an action *could* be done for, e.g., multiple links and only one would throw?
Would the non-throwing actions complete? Or would everything terminate at the time of the action, requiring all actions to be repeated following any necessary recovery action?

[2019-07-11 08:22] bdorney commented on #297
Yes right now that's the only option I think; right now a DB query on this info will print a warning if a VFAT chipID is not found in the DB:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/a51324ac284f894979aa5f53260411437dcf6068/utils/dbutils.py#L77-L79

We can of course implement an error/warning; but these higher bits have routinely caused problems later on when attempting to s

[2019-07-11 09:03] bdorney commented on #295
Right now the only place where a multi link configuration is attempted in the same call would be:

https://github.com/cms-gem-daq-project/vfatqc-python-scripts/blob/dae6fb9a1d65f0d7081dc040832faf1c5f77123e/confAllChambers.py#L8-L61

Here each link generates a new rpc connection (obviously this is probably not desireable).  If a single link's configuration call generates an exception the try block

[2019-07-11 13:29] bdorney opened #299 "Feature Request: Change setDAQParamsPostConfigure.py to allow Sysadmin Provided Input Enable Mask Per AMC Slot"
## Brief summary of issue

Right now `setDAQParamsPostConfigure.py` dynamically determines the `ohMask` that each slot should use when setting the `INPUT_ENABLE_MASK`.  This is convenient but it does prohibit a sysadmin from removing a particular link from data-taking.

We'd like to be able to control which links are used in `INPUT_ENABLE_MASK`.

### Types of issue

- [ ] Bug report (report an iss

[2019-07-16 08:54] bdorney commented on #297
The issue should be moved to gem-plotting-tools.

[2019-07-16 08:54] #297 closed, assigned to jsturdy, bdorney, mexanick, lmoureaux, lpetre-ulb

[2019-07-16 15:13] cgalloni commented on #278
As agreed, now the focus is only on tracking data scans.

[STILL THE  SAME as in previous comment]
Upon pressing "apply" button on the Calibration User Interface, the applyAction retrieves optical link mask and calibation parameters from the UI.
In the case of the normal calibration different maps of the appropriate data types are initialized and filled with the calibration integer and string para

[2019-07-17 14:22] jsturdy commented on #278
Here I would suggest that some of these are cleaned up:
*  `nTriggers` and `nSamples` are the same thing
* it probably makes sense to group the trigger setup related items: `pulseDelay`, `l1aTime`, `trigType`, and `signalSourceType` (what is this again?), as they could (in the future) potentially be split off into a dedicated bag that is only sent to the trigger setup application (`AMC13Manager` o

[2019-07-31 08:52] bdorney commented on #284
Following the discussion in yesterday's SW dev meeting we decided that during scurve scans all channels should be masked *except* the channel being pulsed to prevent any potential cross-talk issues or stray hits (e.g. from particles/noise/other sources)

[2019-07-31 14:10] jsturdy commented on #297
By any chance, does [this](https://github.com/pandas-dev/pandas/issues/15453) seem like the true culprit?

[2019-07-31 14:17] jsturdy commented on #295
Closed by #298

[2019-07-31 14:17] #295 closed, assigned to AndrewLevin, jsturdy, ram1123, BenjaminRS, cgalloni, bdorney, mexanick, lmoureaux, lpetre-ulb

[2019-08-06 12:12] bdorney commented on #230
Following our discussion in the SW dev meeting today we have proposed the following meaning for the 24 bits of the `RUN_PARAMS` register:

<img width="796" alt="RunParams_Definitions_v3" src="https://user-images.githubusercontent.com/6432141/62538697-b92c5f00-b853-11e9-9387-e2544b663d10.png">

Here

- P.S. = `CFG_PULSE_STRETCH`,
- isC = `isCurrentPulse` with 0 (1) = False (True),
- isExtTrig = `is

[2019-08-06 12:52] jsturdy commented on #230
Fine with the proposal, latency type it's not an external "trigger", rather, it is **not** an internal pulse, i.e., not a calibration pulse

[2019-08-06 14:21] bdorney commented on #230
So we can change `isExtTrig` to `isInt` for `isInternal` and have 1 represent True and 0 represent False.  What do you think?

[2019-08-08 09:23] bdorney commented on #230
Upon further reflection I'm not sure we should use bits `[7:0]` for scurve (`RunType==0x4`) for `CFG_THR_ARM_DAC` since, in the exception of ARM DAC Calibration, this will be unique for every VFAT.

Outstide of `CFG_LATENCY` I'm not sure what we could do with bits `[9:0]` I was also trying to see if we could shift bits 10 and up by 2 to group the other empty bits in `[11:0]` but then I couldn't co

[2019-08-08 13:07] jsturdy commented on #230
Originally, the idea was that the secondary variable would be the channel being scanned, however, that is now going to be placed in the chamber header.
I would maybe leave it as is, and have a caveat that for only a DAC calibration will the secondary word be of value (you could then repurpose bit 22 to indicate this, as in the case of the latency scan).
I guess this would tilt that bits `[20:0]` g

[2019-08-08 15:22] #299 closed, assigned to jsturdy, bdorney, mexanick

[2019-08-12 21:39] bdorney commented on #284
Closed by #302

[2019-08-12 21:39] #284 closed, assigned to jsturdy, ram1123, bdorney, mexanick

[2019-10-08 09:20] lpetre-ulb opened #305 "[Discussion/feature request] Remove SSH calls to the CTP7"
## Brief summary of issue

Currently some actions are triggered on the CTP7 through SSH. This solution is not portable between boards in some (all?) cases.

For example, the PROMless activation before OH FPGA programming is checked as follow:
https://github.com/cms-gem-daq-project/cmsgemos/blob/444c322e99e0a7b522bc27e8818a0731df4cfff5/gempython/tools/amc_user_functions_xhal.py#L773-L780

And this

[2019-10-11 16:27] jsturdy commented on #305
Strongly in favour of removing ad hoc `ssh` calls from everywhere, but in this case, I know that it was necessary as the underlying register wasn't exposed in the FW

[2019-11-15 21:49] lmoureaux opened #307 "XHAL not found automatically"
## Brief summary of issue

I'm not sure if this is an issue of cmsgemos or XHAL, but I run into errors in gemhardware when building current `develop`. I need to add the following to my env to make it work:
[code]
I'm on `gem904daq02`.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

XHAL

[2019-11-15 22:30] lmoureaux opened #308 "gemonlinedb tests crash on invalid XML file"
## Brief summary of issue

The tests for the gemonlinedb crash (`SIGSEGV` and/or `SIGABRT`) when one of the example XML files doesn't comply with the schema. Error reporting needs to be fixed.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Tests report failure but don't crash.

## Curr

[2019-11-15 22:37] jsturdy commented on #307
Probably you don't have `XHAL_ROOT` set (and possibly other expected environment things, as they have not all been added as defaults in the makefiles)

[2019-11-15 22:42] lmoureaux commented on #307
I don't think I added it, indeed. Would you accept a patch to use `/opt/xhal` by default or cause the build to fail with and intelligible error message if `XHAL_ROOT` is wrong (eg if `$XHAL_ROOT/include/xhal/XHALDevice.h` doesn't exist) ?

[2019-11-15 23:55] lmoureaux commented on #308
I *think* that this is caused by Xerces exceptions escaping the scope of a `XercesGuard`.

[2019-11-16 10:10] jsturdy commented on #307
I *think* this is something that we added in the `gemcalibration` stuff that @cgalloni is working on, but we definitely  should patch that in and merge that part to `develop` since everything else really depends on it.
It might actually be better to port the changes made in `gembuild` into here as they were partly designed to solve this type of issue in *all* repositories.
I'll look to see what we

[2019-11-17 09:00] #308 closed, assigned to lmoureaux

[2019-11-18 08:40] cgalloni commented on #307
Hi, if I remember correctly we had some compatibility issues so to make `gemcalibration` and `gemhardware` work, we had to install the xhal package locally  on `daq04` and add these lines to
`setup/etc/profile.d/gemdaqenv.sh`:
[code]

[2019-12-29 17:43] lmoureaux commented on #214
Will use JSON. Files can be created with only minor adjustments needed to upload them.

[2019-12-29 17:43] #214 closed

[2020-01-20 14:39] jsturdy opened #312 "[bug] gemonlinedb tests fail to build with xdaq15"
## Brief summary of issue
During testing for #311 one of the tests for `gemonlinedb` failed to compile (`gcc` `8.3.1` from `devtoolset-8`)

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavior
Tests should build and succeed.

## Current Behavior
One test fails to compile wit the following error:
[code]

### Steps to Reproduce (for bugs)
1. Check out the code in

[2020-02-11 10:31] mexanick opened #313 "cmsgemos develop doesn't compile against templated version of xhal package"
## Brief summary of issue

Due to structural changes of the templated `xhal` package the `gemhwdevices` and `gemdaqmonitor` packages can't compile. Changes are required in headers and makefiles mostly and are quite trivial.
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Possible Solution (for bugs)

Fix w

[2020-02-14 10:17] #313 closed, assigned to jsturdy, mexanick, lpetre-ulb

[2020-02-25 14:10] mexanick opened #316 "FSM actions refactoring"
## Brief summary of issue

GEM's are taking way too long to initialize, while configuration is done very promptly (in seconds).
Possible reasons are:
- abundance of hardware accesses during `initializeAction(...)` in various hardware managers
- issues with uHAL address tables
  - may consider to remove uHAL dependencies for AMC and OH altogether
### Types of issue

- [ ] Bug report (report an issu

[2020-02-25 14:34] jsturdy commented on #316
Should any sort of "HW is connected" check be done during `Initialize`, as is currently the case?
Or why would we want this failure to happen only during the `Configure` transition?
I think DB connections should also be created/opened in this transition, though probably not the request for the blob.

[2020-02-25 21:39] mexanick commented on #316
At the moment we are checking all the optohybrids and reading out the VFAT masks. This is
a) time consuming
b) should actually not fail the initialize step (e.g. at configure step a link reset or hard reset might be performed to restore a lost communication to some vfats for example)
c) other systems actually don't do any HW access at init phase and do it at configure only
d) we will anyways check

[2020-02-25 22:07] lmoureaux commented on #316
Noticing that I was assigned, why is it the case? I don't think this is DB-related?

[2020-02-25 23:00] lpetre-ulb commented on #316
Agreed! Maintaining the address tables on both the CTP7 and the DAQ is machine is cumbersome and error prone. Ideally, the RPC call would even abstract what the firmware cannot so that the xDAQ applications don't even know about register names.

:+1:

The LMDB address table _is_ shared between different processes. Since it is memory-mapped, it does not consume physical memory and relies on the ker

[2020-02-25 23:04] mexanick commented on #316
Sorry, added by mistake. The other parties are relevant to this discussion though ;)

[2020-02-26 15:59] mexanick commented on #307
shall be closed as irrelevant now?

[2020-02-27 21:05] lpetre-ulb commented on #307
Indeed, I think it is irrelevant now. Feel free to reopen the issue if it strikes again.

[2020-02-27 21:05] #307 closed, assigned to nobody

[2020-02-27 21:08] lpetre-ulb commented on #271
What is the reason to prefer a custom `INSTALL_PREFIX` variable over the `PREFIX` and `DESTDIR` variables? The latter are well-know in `make`, `libtool`, `cmake` and probably all other build systems.

[2020-02-27 21:11] lpetre-ulb commented on #221
Fixed in #311.

[2020-02-27 21:11] #221 closed

[2020-02-27 21:16] lpetre-ulb commented on #174
Shall this issue be closed? If I'm not mistaken, `cmsgemos` now compiles properly with `uhal` 2.6 (and maybe even 2.7).

[2020-02-27 21:19] lpetre-ulb commented on #181
Is this issue still open? The AMC13 libraries (and repo) work fine with `uhal` 2.6 now.

[2020-02-28 08:48] jsturdy commented on #181
Indeed, I believe that the setup script and docker images are all working fine

[2020-02-28 08:48] #181 closed

[2020-02-28 08:49] jsturdy commented on #174
Yes, provided there is an `amc13` build against `2.7` our code *should* build fine

[2020-02-28 08:49] #174 closed

[2020-02-28 08:51] jsturdy commented on #271
i picked it up to have a single set of instructions across repositories (since `xdaq` people used it in their makefiles...)

[2020-02-28 09:00] lpetre-ulb commented on #271
Okay, that makes sense. This is bad design upstream though, `PREFIX` and `DESTDIR` are two different concepts with different purposes.

[2020-02-28 09:19] lpetre-ulb opened #317 "HwGenericAMC::getSupportedOptoHybrids not working"
## Brief summary of issue

According to a comment PR #315, the `HwGenericAMC::getSupportedOptoHybrids` does not seem to work: https://github.com/cms-gem-daq-project/cmsgemos/pull/315/files#r385062437

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

The function should return the number o

[2020-02-28 09:47] jsturdy commented on #271
In any event, is this issue still relevant?
As far as I know, everything builds correctly

[2020-02-28 09:50] jsturdy commented on #317
The function is really stupidly simple, so why it wouldn't work is strange... (unless the register name is no longer as stated)

https://github.com/cms-gem-daq-project/cmsgemos/blob/f20b7fb64d90cd24bc75be5716c6c43d76cc3892/gemhardware/devices/src/common/amc/HwGenericAMC.cc#L205-L208

[2020-02-28 10:00] mexanick commented on #317
I have no idea... It actually might be a different thing, not exactly this function. The loop was commented out because it was leading to endless loop and because it is actually not needed anywhere. I didn't get why it was endless though...

[2020-02-29 01:29] lpetre-ulb commented on #271
I will close the issue as soon as I will have checked that all files are installed to the correct location after a completely clean build.

[2020-02-29 01:36] lpetre-ulb commented on #219
Fixed in https://github.com/cms-gem-daq-project/cmsgemos/pull/220.

[2020-02-29 01:37] #219 closed

[2020-02-29 01:41] lpetre-ulb commented on #83
v2 electronics specific

[2020-02-29 01:41] #83 closed

[2020-02-29 01:43] lpetre-ulb commented on #133
Outdated issue, SLC6 is not longer supported.

[2020-02-29 01:43] #133 closed

[2020-02-29 15:19] lpetre-ulb commented on #224
The documentation generation is still failing with the update build system. On the first attempt, one gets the following error:
[code]

While on the second attempt, this error is thrown:
[code]

[2020-03-04 08:30] #312 closed, assigned to lmoureaux

[2020-03-06 00:13] lmoureaux opened #320 "Unified Boost version selection"
## Brief summary of issue

I would like to use Boost.Beast for `gemonlinedb` uploads to the DB loader (I settled on HTTP uploads because they are synchronous and C++ libraries for HTTP are easier to use). This library is only present in Boost 1.69 (first added in 1.66).

Currently three versions of Boost are installed on `gemdaq-build-xdaq15`:

* `boost-devel-1.53.0-27.el7.x86_64` in `/usr/include

[2020-03-06 06:28] mexanick commented on #320
@lmoureaux any idea of why we have 3 boosts and which ones are used and by which package? I don't recall us using the boost apart from python bindings export (that should be easy to update if anything is required). Maybe the more recent one is brought by devtoolset-8 which we use for modern compilers?

[2020-03-06 14:36] lmoureaux commented on #320
Good question, I couldn't find a reverse dependency for any of the Boost packages. This may be the result of `yum install boost*`

Boost is used in various places in `cmsgemos`. I saw `algorithm`, `format`, `regex`, `python`, `filesystem`, `test`, `iostreams` and `unordered_map`. These parts of Boost are probably more or less stable nowadays but I really want Beast :)

[2020-03-06 14:43] mexanick commented on #320
Well, I'd say you should start trying to implement boost with Beast locally for the moment (I mean, for gemonlinedb package only), while we will investigate other boosts and if there's no need to keep all three versions, we will just use the most recent one. Considering build system: as you probably heard last dev meeting, we are planning to revise the building system eventually switching to cmake

[2020-03-09 19:01] lpetre-ulb commented on #320
Just to be sure, isn't xDAQ linked against a specific version of `boost` (system-wide installation?)? If so, the safest way would be to go for that version. Note that CC8 is going to be released with `boost` 1.66.

[2020-03-09 19:38] jsturdy commented on #320
I was going to ask what implications any change in our codebase would have on how we interact with other libraries, as I know `ipbus` (dependency through AMC13` SW) is built against 1.66 (for both cc7 and cc8)

[2020-03-12 18:46] lmoureaux commented on #320
Both `uhal` and `xdaq` export symbols with Boost 1.53 data types. I still have no idea how the other Boost versions came to be installed, maybe with `yum install boost*`?

So we can't use a newer version before switching to CC8/xDAQ 16.

[2020-03-12 18:46] #320 closed, assigned to nobody

[2020-03-17 10:30] lpetre-ulb opened #322 "gemonlinedb tests fail with a missing file"
## Brief summary of issue

One `gemonlinedb` test case fails with the error reported hereunder.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

All tests should pass.

## Current Behavior

`gemonlinedb` tests fail with the following error:

[code]

Notice that `echo $?` returns `0`, as

[2020-03-17 15:32] lmoureaux commented on #322
I'm working on a PR. In the meantime the test should pass if you `touch gemonlinedb/xml/tests/NonCompliantFile.json`.

[2020-03-17 20:26] lmoureaux commented on #322
Thank you for running the tests and reporting failures! :heart_eyes:

[2020-03-18 10:17] #322 closed, assigned to lmoureaux

[2020-03-18 10:22] lpetre-ulb opened #325 "Resetting the FSM in GEMSupervisor corrupts the terminal output"
## Brief summary of issue

While testing FSM state transitions, I noticed that moving to the `Resetting` state corrupts the terminal log output. The result can bee seen in the "current behavior" section.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Log output should never get corrupt

[2020-03-18 13:53] #317 closed, assigned to nobody

[2020-04-01 10:52] mexanick commented on #223
Obsolete

[2020-04-01 10:52] #223 closed

[2020-04-01 10:57] mexanick commented on #305
is this still relevant?

[2020-04-01 13:49] dteague opened #329 "XDAQ Monitoring updating"
The XDAQ monitoring code needs to be updated to V3 as well as become more robust. This issue is to discuss changes needed in the newest version of Monitoring code as well as to resolve issues associated with setting that up

## Update to V3
The current daqmonitoring code is older and thus hasn't been updated to V3 changes in the firmware. Old V2 parts need to be removed as well as making sure all

[2020-04-01 15:25] lpetre-ulb commented on #305
Probably not, the legacy release won't be updated and it shouldn't apply to the new SW architecture.

[2020-04-01 15:25] #305 closed, assigned to nobody

[2020-04-01 21:22] mexanick opened #330 "Correct XML configuration files missing in the repository"
## Brief summary of issue

Current xml configuration files won't work with the updated code. Need to provide the working example or template of the xml config when changes requiring the change of XML are performed
### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)
- [x] Documentation update

## Possible Solution

[2020-04-01 21:36] mexanick opened #331 "GEM_AMC.GEM_SYSTEM.RELEASE is not readable but used in HwGenericAMC"
## Brief summary of issue

[code]
Indeed, an attempt of read("GEM_AMC.GEM_SYSTEM.RELEASE") is happening in the gem::hw::amc::HwGenericAMC::getFirmwareVer() and this register doesn't have any permissions in the address table. @evka please comment what's the desired behavior here and how to fix (change the register, update address table)

### Types of issue

- [x] Bug report (report an issue with th

[2020-04-01 21:54] lpetre-ulb commented on #331
I'm not convinced we want to be able to access non-leaf registers. If it was possible, it would mean making assumptions on how the sub-registers are organized. In this specific case, the masks to access the sub-registers.

If we are moving towards the "giant struct" address table, this kind non-leaf register access could be coalesced in a safe manner which would not depend on the underlying implem

[2020-04-02 10:22] jsturdy commented on #331
This is a longstanding bug or lack/divergence of functionality with the non-`uhal` address table parsing (which had perfectly clear semantics for this use case, via [default attributes](https://ipbus.web.cern.ch/ipbus/doc/user/html/software/uhalQuickTutorial.html#how-to-get-the-node-attributes)).
The same semantics were discussed/requested in the past, but never implemented in the non-`uhal` addre

[2020-04-02 11:46] mexanick commented on #331
There's actually a lot more to this. Moreover, I consider the reading of non-leaf nodes dangerous as reshuffling the masked registers or changing their meaning under the parent node may lead to undefined behavior and can not be easily checked at run time.

[2020-04-02 12:01] mexanick opened #332 "Detector cold start"
## Brief summary of issue

At the moment there's no mechanism to provide a cold start (after powercycle) for the front-end. If the requested OH is not programmed, the system will go into error state, with no recovering actions  possible inside `cmsgemos`. We need to provide the mechanism of cold start either during "Initialize" or "Configure" state transition.
### Types of issue

- [ ] Bug report

[2020-04-03 09:49] mexanick opened #334 "Define monitoring variables for gemdaqmonitor package"
## Brief summary of issue

Define a set of monitoring variables for gemdaqmonitor package in a following form:
| Block  | Name           | Description              | Possible Values | Importance | Actions                                                                                                       |
|--------|----------------|--------------------------|-----------------|------------|------

[2020-04-03 09:54] mexanick opened #335 "UML interaction diagram for gemdaqmonitor subpackage"
## Brief summary of issue

Need to provide the interaction diagram for the monitoring package. The diagram should include interaction agents, protocols and actions.
### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)
- [x] Documentation update

## Need-by date
Apr 15, 2020

[2020-04-03 09:56] mexanick opened #336 "Refactor the existing monitoring package to use templated rpc framework"
Convert the existing RPC calls to templated RPC calls, streamline the parameter passing

### Types of issue
- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)
- [ ] Documentation update

## Need-by date
Apr 22, 2020

[2020-04-03 10:04] mexanick opened #337 "Update monitorables in gemdaqmonitor"
## Brief summary of issue

Update the set of monitor variable to the result of #334
### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Need -by date
April 22, 2020

[2020-04-03 10:30] jsturdy commented on #224
To be clear, there is no "updated build system" in this repository.

That being said, I have updated the legacy branch to build the docs successfully (and in a coherent way across all repos, so they all got updated as minimally as I could), so those changes *could* be `cherry-picked` (probably) into this (where "this" I understand from @lpetre-ulb's comment to be the non-legacy codebase), but I re

[2020-04-03 14:10] lpetre-ulb commented on #224
Okay, I thought that #311 updated the build system. Sorry about that.

Indeed, when I posted this that reply, we were still discussing the migration. This issue is no longer relevant for the `develop` branch.

:+1:

[2020-04-06 13:40] #316 closed, assigned to jsturdy, cgalloni, mexanick, lpetre-ulb

[2020-04-06 16:40] lpetre-ulb commented on #334
This issue was maybe open as a test before the GitLab migration, although we can start sharing ideas.

First, a question: what is the meaning of "Block" in the table? Is it a firmware block? If yes, some metrics don't have a direct corresponding block...

Also, what do you think about generating the GEM monitor documentation? The firmware address tables proved to be very successful. The informatio

[2020-04-06 17:13] lpetre-ulb commented on #332
While this a really needed feature, what would be a realistic timeline to _correctly_ implement it? To do everything right, it may require the configuration tree, the DB, the config blaster, ... Of course some of those prerequisites can be worked around, but it may be more effective to tackle some of them first.

First, when do we need to access the front-end? IMHO, we should try not to access it

[2020-04-06 18:16] mexanick commented on #332
I agree with the way you're thinking. First of all we need a simplified cold start model, so there's no immediate need of configuration tree, DB and blaster (well, blaster *will be used* anyway).
Indeed, we need to configure the GBTs and FPGA. For GBTs, we always use the same config, so I don't see a problem in continuing using the file-based configs until we get the DB-based configs working. For

[2020-04-06 18:22] mexanick commented on #334
Yes, the first idea behind was example, however I tried to do it realistic :)

I meant logical monitoring block. In most of the cases it will correspond to FW block, but as you correctly noted, not all the time.

This is fine to me, however there should be the starting point. Such table as I request can be generated from address table given that all the required attributes are present there and fi

[2020-04-07 08:15] lpetre-ulb commented on #332
Yes, we always use the same GBT configurations... which don't have the right RX phases. That forces us to perform the GBT phase scan. One may want to produce new GBT configurations based on the [known LUT](https://github.com/cms-gem-daq-project/cmsgemos/blob/b994519ec267600bd9faa70bcd17a8c042bdcdff/gempython/tools/hw_constants.py#L116).

I see, it is not very difficult to swap the RPC modules, but

[2020-04-07 08:25] lpetre-ulb commented on #334
Generating the monitoring table from the firmware address might be a good first step, but, as you wrote, it will have to be pruned down. I was thinking more about creating different monitoring XML table(s) which would be under `cmsgemos` umbrella rather than the firmware umbrella.

On an organization point of view, the developers and release schemes are different between SW and FW. We are certainl

[2020-04-07 10:01] dteague commented on #336
I have a preliminary commit making the changes to the templated version as seen in the develop branch (i.e. using ` xhal::common::rpc::call`), but after fetching the newest develop branch, the code doesn't compile because of the included `ctp7_modules` files. Is there a certain setup needed to grab this file or does the makefile need to been update or?

[2020-04-07 11:02] lpetre-ulb commented on #336
Indeed, a certain setup is required to work with the templated RPC framework. The exact setup depends on the packages installed on the computer you are using and the developments you are targeting. Since the `gemdaqmonitor` package has not yet been updated to the templated RPC, it is possible that the Makfiles have to be fixed as well.

AFAIK, @mexanick and I are the only ones who worked with the

[2020-04-07 11:06] dteague commented on #336
Currently I'm testing on the `daq04` machine and the error happens in `gemhardware`, this after I rebased my code to the newest develop branch. After we get this issue resolve, I can give the code a test and open a PR with the changes I've made!

[2020-04-07 13:25] lpetre-ulb commented on #336
Okay, in this case you'll need a local installation/clone of `cmsgemos` (of course!), `ctp7_modules` (since you'll be modifying them) and possibly `xhal`(since the `daq04` version may not be up-to-date). The configuration is a bit tricky and is not fully documented. And I'm still not sure whether or not it should be made publicly available in a comprehensive way since we are going to change everyt

[2020-04-13 15:54] dteague commented on #334
[Google sheet with table of variables (in progress still)](https://docs.google.com/spreadsheets/d/1hnji2ZzGI8xfJIuoiwUbl67HXQ8ksQtVeBdX5ZWzxDY/edit?usp=sharing)

all of these values are pulled from the the ctp7_module code (develop branch), the block being the name of the function call and the name being the names of keys in the returned map. I'll have to look into finding out what these values ar

[2020-04-14 20:37] lpetre-ulb opened #338 "Branches divergencies"
## Brief summary of issue

During the branches clean-up, I noticed that several more or less active branches have diverged. Compared to `release/legacy-1.0` (previously `generic-amc-RPC-v3-short-term`), `generic-amc-release-v3-RPC-playground` and `master` have diverged.

* `generic-amc-release-v3-RPC-playground` seems to have been an attempt to integrate the RPC modules into the Python. If this is

[2020-04-21 11:56] lpetre-ulb commented on #332
Issue [moved](https://gitlab.cern.ch/cmsgemonline/cmsgemos/issues/11) to the new GitLab project.

[2020-04-21 11:56] #332 closed, assigned to nobody

[2020-04-21 11:57] lpetre-ulb commented on #334
Issue [moved](https://gitlab.cern.ch/cmsgemonline/cmsgemos/issues/12) to the GitLab project.

[2020-04-21 11:57] #334 closed, assigned to mexanick, evka85, dteague

[2020-04-21 11:58] lpetre-ulb commented on #325
Cannot reproduce after the last set of commits and the migration to the mono-repo.

[2020-04-21 11:58] #325 closed, assigned to nobody

[2020-04-22 20:57] lpetre-ulb commented on #336
[Moved](https://gitlab.cern.ch/cmsgemonline/cmsgemos/issues/13) to the new GitLab project.

[2020-04-22 21:10] #336 closed, assigned to dteague

[2020-04-22 21:36] lpetre-ulb commented on #330
[Moved to GitLab.](https://gitlab.cern.ch/cmsgemonline/cmsgemos/issues/17)

[2020-04-22 21:36] #330 closed, assigned to mexanick

[2020-04-22 21:37] lpetre-ulb commented on #271
RPM packages for the development software won't be produced in this repository.

[2020-04-22 21:37] #271 closed, assigned to jsturdy

[2020-04-22 21:39] lpetre-ulb commented on #251
`gemonlinedb` compiles well in the new repository with the new build system.

[2020-04-22 21:39] #251 closed, assigned to jsturdy, lmoureaux

[2020-04-23 07:47] mexanick commented on #338
`release/legacy-1.0` vs `generic-amc-release-v3-RPC-playground`:
the latter is obsolete and can be deleted. It was a short-term introduction of `xhal` functionality which has been later merged, reshuffled and sort of polished.
`release/legacy-1.0` vs `master`:
The differences seems to be quite simple and straightforward. They consist of three kinds:
1. Changes in build, tag and release system. @js

[2020-04-23 08:42] mexanick commented on #289
Obsolete in terms of legacy. Suggest to close here and potentially reopen on giltab in the future.

[2020-04-23 08:42] #289 closed, assigned to nobody

[2020-04-23 08:43] mexanick commented on #278
Stale? Anyway, irrelevant for the legacy. Suggest to close.

[2020-04-23 08:44] mexanick commented on #254
The issue is resolved in the upstream. Closing

[2020-04-23 08:44] #254 closed, assigned to nobody

[2020-04-23 08:44] mexanick commented on #264
Obsolete. Has been implemented

[2020-04-23 08:44] #264 closed, assigned to bdorney, mexanick

[2020-04-23 08:45] #234 closed

[2020-04-23 08:46] #224 closed

[2020-04-23 08:49] mexanick commented on #187
Obsolete

[2020-04-23 08:49] #187 closed

[2020-04-23 08:50] mexanick commented on #183
@jsturdy is this resolved? Looks like stale issue

[2020-04-23 08:50] mexanick commented on #188
Resolved

[2020-04-23 08:50] #188 closed

[2020-04-23 08:51] #177 closed

[2020-04-23 08:52] #26 closed

[2020-04-23 08:52] #32 closed

[2020-04-23 08:52] #33 closed

[2020-04-23 08:52] #54 closed

[2020-04-23 08:53] #71 closed

[2020-04-23 08:53] #85 closed

[2020-04-23 08:54] #86 closed

[2020-04-23 08:54] #92 closed

[2020-04-23 08:56] mexanick commented on #102
Very vague, most probably obsolete. Closing

[2020-04-23 08:56] #102 closed

[2020-04-23 08:56] #107 closed

[2020-04-23 08:57] #113 closed

[2020-04-23 08:57] mexanick commented on #116
Has this been ever fixed?

[2020-04-23 08:58] mexanick commented on #123
Stale.

[2020-04-23 08:58] #123 closed

[2020-04-23 08:59] #127 closed

[2020-04-23 08:59] #135 closed

[2020-04-23 09:00] #139 closed

[2020-04-23 09:00] mexanick commented on #140
Has this been implemented?

[2020-04-23 09:01] mexanick commented on #142
Has this been implemented?

[2020-04-23 09:02] #144 closed

[2020-04-23 09:03] #146 closed

[2020-04-23 09:03] #151 closed

[2020-04-23 09:04] #152 closed

[2020-04-23 09:04] #153 closed

[2020-04-23 09:05] #159 closed

[2020-04-23 09:05] #160 closed

[2020-04-23 09:06] #169 closed

[2020-04-23 09:06] #170 closed

[2020-04-23 09:09] mexanick commented on #175
Current legacy documentation should answer the questions raised during the above discussion

[2020-04-23 09:10] #189 closed

[2020-04-23 09:10] mexanick commented on #193
Irrelevant for legacy release.

[2020-04-23 09:10] #193 closed

[2020-04-23 09:11] #197 closed

[2020-04-23 09:12] #213 closed

[2020-04-27 07:54] #278 closed, assigned to cgalloni

[2020-04-28 15:18] lpetre-ulb commented on #230
Moved to the [GitLab repository](https://gitlab.cern.ch/cmsgemonline/cmsgemos/issues/28).

[2020-04-28 15:18] #230 closed

[2020-04-28 15:38] lpetre-ulb commented on #183
Was Travis CI ever used in production? The [project referenced in the README](https://travis-ci.org/travis-ci.org/cms-gem-daq-project/cmsgemos) does not seem to exist anymore. Closing the issue, feel free to reopen it if needed.

[2020-04-28 15:38] #183 closed

[2020-04-30 07:15] jsturdy commented on #338
The only branch I expect to be (semi)-active in this repository moving forward is the legacy release branch, and it is currently self contained.
Given that all active development of this package has already moved, I don't understand the point of this issue.
If, for whatever reason, someone wants to take the drastic step of deleting all unused branches in a public (semi)-archived repository when th

[2020-05-18 07:37] cgalloni commented on #337
Related issue opened in GitLab.

[2020-05-18 07:38] #337 closed, assigned to dteague

[2020-05-18 07:51] cgalloni commented on #329
implementation moved to gitlab

[2020-05-18 07:51] #329 closed, assigned to nobody

[2020-05-18 08:15] cgalloni commented on #217
Definition and cleaning of the FSM transition is planned for the new [architecture.](https://gitlab.cern.ch/cmsgemonline/cmsgemos/-/issues/52)

[2020-05-18 08:15] #217 closed

[2020-05-18 08:23] cgalloni commented on #270
@dteague do you know if these changes were implemented in the code?

[2020-05-18 08:31] cgalloni commented on #236
Implementation moved to GitLab

[2020-05-18 08:31] #236 closed

[2020-05-18 08:34] #143 closed

[2020-05-18 08:44] cgalloni commented on #215
Development moved to GitLab.

[2020-05-18 08:44] #215 closed

[2020-05-18 08:46] cgalloni commented on #116
@jsturdy, do you remember if this was fixed?

[2020-05-18 08:57] cgalloni commented on #140
It is implemented in the GEMSupervisor.

[2020-05-18 08:57] #140 closed

[2020-05-18 09:11] cgalloni commented on #142
Cleaning of the FSM states is ongoing in the GitLab development.

[2020-05-18 09:11] #142 closed

[2020-05-18 09:18] cgalloni commented on #154
@jsturdy , do you remember if this was implemented?

[2020-05-18 09:29] jsturdy commented on #116
Unlikely, I doubt that the `try/catch` that exists would catch this type of error

[2020-05-18 09:30] jsturdy commented on #154
Given that data was successfully taken for the slice test, I'd say yes

[2020-05-18 09:31] cgalloni commented on #154
Thanks!

[2020-05-18 09:31] #154 closed

[2020-05-18 10:00] cgalloni commented on #241
@lmoureaux , can this be closed/or ported to gitlab?

[2020-05-18 10:44] cgalloni commented on #290
Moved to GitLab [issue](https://gitlab.cern.ch/cmsgemonline/cmsgemos/-/issues/90).

[2020-05-18 10:44] #290 closed, assigned to nobody

[2020-05-18 10:47] cgalloni commented on #335
@dteague, can you migrate this issue or make sure that the diagrams are attached properly to the GitLab issue. And then close this one?

[2020-05-18 11:04] lpetre-ulb commented on #241
The tests run and must pass in the new repository CI.

[2020-05-18 11:04] #241 closed

[2020-05-18 11:06] lpetre-ulb commented on #267
Could it be fixed in _legacy_? The change seems to be trivial and the official website is now available, not with the final URL, though AFAIK.

[2020-05-18 11:09] lpetre-ulb commented on #235
It is unlikely that an Oracle SQL database is going to be used (and by extension the `TStore` library). Discussion about the database system to be used is in [progress on GitLab](https://gitlab.cern.ch/cmsgemonline/cmsgemos/-/issues/68). New issues will be opened with the outcome of this discussion.

[2020-05-18 11:09] #235 closed

[2020-05-18 11:11] lpetre-ulb commented on #218
@dteague, you may be interested how the monitoring variables are split divided into blocks. This eases both the understanding, review and display (in the Web GUI) of the monitorables.

[2020-05-18 11:12] lpetre-ulb commented on #265
Will this ever be fixed for the legacy project? Work in on-going to re-license the IP moved to the development branch.

[2020-05-18 12:32] dteague commented on #218
[conversation moved here](https://gitlab.cern.ch/cmsgemonline/cmsgemos/-/issues/12). (link fixed)

This issue can be closed

[2020-05-18 12:46] cgalloni commented on #218
@dteague  I believe the previous link it's incorrect and you might want to fix it. Anyway, I'll close the PR.

[2020-05-18 12:46] #218 closed

[2020-05-18 13:06] jsturdy commented on #267
easily, I'll add it to the docs changes in #339 (also in other packages), the options for what to put in there are:
* github repo link
* API docs link
* generic gemdaq landing

[2020-05-18 13:22] dteague commented on #270
@cgalloni, as per @lpetre-ulb, The `GTX_TRK_Errors`, `GTX_TRG_Errors`, and `GBT_TRK_Errors` are now implemented by the `GEM_AMC.TRIGGER.OH#.LINK#` and `GEM_AMC.OH_LINKS.OH#.GBT#_*`, as alluded to by in Brian's comment. We can certainly clean up these values by combining them into some useful way in the XDAQ, but all the information is available to the daq_monitor, so I think we can close this issu

[2020-05-18 13:31] #270 closed, assigned to dteague

[2020-05-18 16:38] cgalloni commented on #116
Moved to GitLab [issue](https://gitlab.cern.ch/cmsgemonline/cmsgemos/-/issues/94) for implementation.

[2020-05-18 16:38] #116 closed

[2020-05-19 06:39] lpetre-ulb commented on #267
Thanks! I would use the generic gemdaq landing page as URL in the RPM packages, so that it would to point the (power) users to the official website/documentation. The other possibilities (GitHub repo and API documentation) should easily be accessible from the main website.

[2020-05-27 15:32] jsturdy commented on #267
Fixed in #339

[2020-06-18 09:53] #267 closed, assigned to jsturdy, mexanick